<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function selectAll(){
        selectAllInput = document.getElementById('table-select-all');
        inputs = document.getElementsByTagName("input");
        if (selectAllInput.checked){
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = true;
            }
          }
        }
        else{
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = false;
            }
          }
        }
      }

      function submitSelected(){
        classBlockID = '<%= params[:class_block_id] %>';
        inputs = document.getElementsByTagName("input");
        classRoomIDs = [];
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              if (inputs[i].hasAttribute("class_room_id")){
                classRoomID = inputs[i].getAttribute("class_room_id");
                classRoomIDs.push(classRoomID);
              }
            }
          }
        }

        jQuery.confirm({
          title:"Class Block Assignment",
          text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
          confirm: function() {

          },
          cancel: function() {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        });
      }
      
      function addClass(){
        window.location = "/class_blocks/assign_me_class?class_block_id=<%= params[:class_block_id] %>&mode=add_class"
      }

      function cancel(){
        jQuery.confirm({
          title:"Class Block Assignment",
          text:"Are you really really sure you want to cancel?",
          confirm: function() {
            window.location = "/class_blocks/assign_me_class?class_block_id=<%= params[:class_block_id] %>";
          },
          cancel: function() {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        });
      }
    </script>

    <style type="text/css">
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/time_table_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/time_table_management_menu" class="active-tab">Time Table</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <% @class_blocks.each do |class_block| %>
              <li><a href="/class_blocks/assign_me_class?class_block_id=<%= class_block.id %>"><%= class_block.name %></a></li>
            <% end %>
            <li><a href="/admin/class_bock_settings/">Class Block Menu</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl"><%= @class_block.name %></h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <div style="padding:10px;" class="well">
                This Class Block can be used by
                <a href="#"><span class="badge badge-info"><%= @my_classes_count %></span></a> classes
              </div>

              <% if params[:mode] %>
                <table class="classes">

                  <thead>
                    <tr>
                      <th style="width:10%;">
                        <input type="checkbox" onclick="selectAll();" id="table-select-all"/>
                      </th>
                      <th style="text-align:center;">Class Name</th>
                      <th>Code</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td class="table-footer" colspan="8">
                        <a onmousedown="cancel()" style="font-size: 9pt;" class="button round blue image-right ic-cancel text-upper">Cancel</a>
                        <a onmousedown="submitSelected()" style="margin-left: 10%; font-size: 9pt;" class="button round blue image-right ic-right-arrow text-upper">Continue</a>
                      </td>
                    </tr>
                  </tfoot>
                  <tbody id="class_rooms">
                    <% @un_assigned_class_rooms.each do |class_room| %>
                      <tr>
                        <td><input type="checkbox" class_room_id="<%= class_room.id %>"/></td>
                        <td style="text-align:center;"><%= class_room.name %></td>
                        <td><%= class_room.code %></td>
                      </tr>
                    <% end %>

                  </tbody>

                </table>
              <% end %>

              <table>
                <thead>
                  <tr>
                    <th style="width:50%;">Class</th>
                    <th style="text-align:center;">Code</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @assigned_class_rooms.each do |class_room| %>
                    <tr>
                      <td><%= class_room.name %></td>
                      <td style="padding:4px; text-align:center;"><%= class_room.code %></td>
                      <td>
                        <a class="table-actions-button ic-table-delete confirm" onmousedown="setCurrentClassRoomId(this)" class_room_id="<%= class_room.id %>"></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <a class="button round blue image-right ic-add text-upper" onclick="addClass();">Add Class</a>
            </div> <!-- end content-module-main -->
          </div> <!-- end content-module -->
        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->
    <%= javascript_include_tag("bootstrap") %>
  </body>
</html>