<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">

      function cancel(){
        jQuery.confirm({
          title:"Class Block Assignment",
          text:"Are you really really sure you want to cancel?",
          confirm: function() {
            window.location = "/class_blocks/assign_me_class?class_block_id=<%= params[:class_block_id] %>";
          },
          cancel: function() {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        });
      }

      function assignClass(obj){
        classBlockID = obj.getAttribute("class_block_id")
        window.location = "/class_blocks/assign_me_class?class_block_id=" + classBlockID + "&mode=add_class"
      }
      
    </script>

    <style type="text/css">
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/time_table_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/time_table_management_menu" class="active-tab">Time Table</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <% @class_blocks.each do |class_block| %>
              <li><a href="/class_blocks/assign_me_class?class_block_id=<%= class_block.id %>"><%= class_block.name %></a></li>
            <% end %>
            <li><a href="/class_blocks/class_bock_without_classes/">Block without Classes</a></li>
            <li><a href="/class_blocks/classes_without_blocks/">Classes Without Blocks</a></li>
            <li><a href="/admin/class_bock_settings/">Class Block Menu</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Blocks Without Classes</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <div style="padding:10px;" class="well">
                <a href="#"><span class="badge badge-info pull-right"><%= @class_blocks_without_classes.count %></span>Total Blocks without classes</a>
              </div>
              <table>
                <thead>
                  <tr>
                    <th style="width:25%;">Block</th>
                    <th style="text-align:center;">Min Capacity</th>
                    <th style="text-align:center;">Max Capacity</th>
                    <th style="width:10%;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @class_blocks_without_classes.each do |class_block| %>
                    <tr>
                      <td><%= class_block.name %></td>
                      <td style="text-align:center; padding:4px;"><%= class_block.min_carrying_capacity %></td>
                      <td style="text-align:center; padding:4px;"><%= class_block.max_carrying_capacity %></td>
                      <td style="padding-top:2px;">
                        <a class_block_id="<%= class_block.id %>" onclick="assignClass(this);" class="button round blue image-right ic-add text-upper">Assign Class</a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- end content-module-main -->
          </div> <!-- end content-module -->
        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->
    <%= javascript_include_tag("bootstrap") %>
  </body>
</html>