<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <script type="text/javascript">
      
      function editMe(obj){
        classBlockId = obj.getAttribute("class_block_id");
        window.location = "/class_blocks/edit_me?class_block_id=" + classBlockId;
      }
      
    </script>
    
    <style type="text/css">
      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/time_table_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/time_table_management_menu" class="active-tab">Time Table</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_blocks/add_class_block/">Add Class Block</a></li>
            <li><a href="/class_blocks/edit_class_block/">Edit Class Block</a></li>
            <li><a href="/class_blocks/void_class_block/">Void Class Block</a></li>
            <li><a href="/class_blocks/view_class_blocks/">View Class Blocks</a></li>
            <li><a href="/class_blocks/class_block_assignment/">Class Block Assignment</a></li>
            <li><a href="/admin/time_table_management_menu/">Time Table Menu</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Class Block Edit</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <table>

                <thead>

                  <tr>
                    <th style="width:30%;">Class Block</th>
                    <th style="text-align:center; ">Min Carrying Capacity</th>
                    <th style="text-align:center;">Max Carrying Capacity</th>
                    <th>Action</th>
                  </tr>

                </thead>

                <tbody id="class_blocks">
                  <% @class_blocks.each do |class_block| %>
                    <tr>
                      <td><%=  class_block.name %></td>
                      <td style="text-align:center; padding:6px;"><%= class_block.min_carrying_capacity %></td>
                      <td style="text-align:center; padding:6px;"><%= class_block.max_carrying_capacity %></td>
                      <td>
                        <a class_block_id="<%= class_block.id %>" onclick="editMe(this)" class="table-actions-button ic-table-edit"></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>