<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Course Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        font-size: 10pt;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #course input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }

      #simple-input {
        font-size: 10pt !important;
      }

      input[type="submit"] {
        margin-left: 31%;
      }

      #optional{
        position: relative;
        left: 3%;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/semester_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/semester_management_menu" class="active-tab">Semester</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/semesters/semester_settings">Set Total Semesters</a></li>
            <li><a href="/semesters/set_current_semester">Set Current Semester</a></li>
            <li><a href="/semesters/set_semester_dates">Set Semester Dates</a></li>
            <li><a href="/semesters/view_semesters">View Semesters</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:69%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">SEMESTER Edit (Semester <%= @semester.semester_number %>)</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>

                  <form id="registration" class="autoform" action="edit_semester_audit" method="POST" >
                    <div><label for="start_date">Start Date</label><input type="text" value="<%= @semester.start_date %>" name="start_date" id="start_date" class="start_date text required date-picker"/></div>
                    <div><label for="end_date">End Date</label><input type="text" value="<%= @semester.end_date %>" name="end_date" id="end_date" class="end_date text required date-picker"/></div>
                    <div class="stripe-separator"><!--  --></div>
                    <%= hidden_field_tag("semester_id", params[:semester_id]) %>
                    <input type="submit" value="Update" class="round blue ic-right-arrow" />
                  </form>


                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:30%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Total Semesters (<%= @semesters.count %>)</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <table>
                    <% @semesters.each do |semester| %>
                      <tr>
                        <td style="font-size: 10pt;"><%= "<span style=font-weight:bold;><a href='/semesters/edit_semester_audit?semester_id=#{semester.semester_id}'> Semester " +  semester.semester_number  + '</a>'%></td>
                      </tr>
                  <% end %>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  <%= javascript_include_tag("bootstrap") %>
  <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 5.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today + 2.years).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>