<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>

    <style>
      #semester input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }

      #simple-input {
        font-size: 10pt !important;
        width: 150px;
      }

      .label {
          color: #fff;
          display: inline;
          background-color: #5bc0de;
          font-size: 1.2em;
          font-weight: bold;
          line-height: 1;
          padding-left: 20%;
          padding-right: 20%;
          padding-top:2%;
          padding-bottom:2%;
          text-align: center;
          vertical-align: baseline;
          white-space: nowrap;
          cursor: pointer;
          min-width: 100px;
          float: right;
      }
    </style>
  </head>
  <body>   
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/semester_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/semesters/index" class="active-tab">Semester</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/semesters/semester_settings">Set Total Semesters</a></li>
            <li><a href="/semesters/set_current_semester">Set Current Semester</a></li>
            <li><a href="/semesters/set_semester_dates">Set Semester Dates</a></li>
            <li><a href="/semesters/view_semesters">View Semesters</a></li>
          </ul>
          
        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Current Semester Details</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                  <div class="confirmation-box round">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:error] %>
                  <div class="error-box round">
                      <%= flash[:error] %>
                  </div>
                <% end %>
              <table style="width:40%; margin-left: 20%;">
                  <tr>
                    <td style="text-align: left; width:7em;"><span>Current Year</span></td>
                    <td>
                      <span class="label" style="margin-left:0%;"><%= @current_year %></span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; width:7em;"><span>Current Semester</span></td>
                    <td>
                      <span class="label" style="margin-left:0%;"><%= @current_semester %></span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;"><span>Date Started</span></td>
                    <td>
                      <span class="label" style="margin-left:0%;"><%= @current_semester_start_date %></span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;"><span>End Date</span></td>
                    <td>
                      <span class="label" style="margin-left:0%;"><%= @current_semester_end_date %></span>
                    </td>
                  </tr>
              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>