<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function showCurrentActiveSemester(){
        $("button[semester_number='<%= @current_semester_number%>']")[0].id = 'active-semester-button';
        $("button[semester_number='<%= @current_semester_number%>']")[0].innerHTML='Active Semester'
      }
      window.setTimeout("showCurrentActiveSemester();", 50);
        
      function setCurrentSemester(obj){
        semesterID = obj.getAttribute("semester_id")
        semesterNumber = obj.getAttribute("semester_number")
        jQuery.confirm({
          title:"Current Semester Confirmation",
          text:"Are you sure you want to set <b>semester " + semesterNumber + "</b> as your current semester?",
          confirm: function(button) {
            jQuery.ajax({
              type: "POST",
              url: "/semesters/set_current_semester",
              data: "semester_id=" + semesterID,
              success: function(){
                activeButtton = document.getElementById("active-semester-button");
                if (activeButtton){
                  activeButtton.innerHTML = 'Set As Active'
                  activeButtton.removeAttribute("id");
                }
                obj.setAttribute("id", "active-semester-button")
                obj.innerHTML = 'Active Semester'
              }

            });
          },
          cancel: function(button) {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        });
      }
    </script>
    <style>
      .btn{
        width: 120px;
      }
      #active-semester-button {
        background-color: #faa732;
        background-image: linear-gradient(to bottom, #fbb450, #f89406);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #semester{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        min-width: 201px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
      .date-picker{
        font-size: 12px;
        max-width: 193px;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/semester_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/semester_management_menu" class="active-tab">Semester</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/semesters/semester_settings">Set Total Semesters</a></li>
            <li><a href="/semesters/set_current_semester">Set Current Semester</a></li>
            <li><a href="/semesters/set_semester_dates">Set Semester Dates</a></li>
            <li><a href="/semesters/view_semesters">View Semesters</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Set Semester Settings</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <table>
                <thead>
                  <tr>
                    <th style="background-color:white; border-style: none; width:10%;">&nbsp;</th>
                    <th style="text-align: center;">Start Date</th>
                    <th style="text-align: center;">End Date</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <% @semesters.each do |semester| %>
                  <tr style="background-color:white;">
                    <td style="text-align:right; padding-right: 1em; font-weight: bold;">
                      Semester <%= semester.semester_number %>
                    </td>
                    <td style="text-align:center;">
                      <%= semester.start_date || 'Not Set' %>
                    </td>
                    <td style="text-align: center;">
                      <%= semester.end_date || 'Not Set' %>
                    </td>
                    <td>
                      <button semester_id="<%= semester.id %>" onmousedown="setCurrentSemester(this);" class="btn btn-primary" semester_number="<%= semester.semester_number %>">Set As Active</button>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  Date.today.strftime("%Y-%m-%d") %>', '<%=  (Date.today + 1.year).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>