<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>

    <script>
      var classRoomHash = eval("(" + '<%= @class_room_hash.to_json %>' + ")");

      function loadSemesterData(){
        year = document.getElementById('year').value;

        jQuery.ajax({
          type: "POST",
          url: "/semesters/load_semester_data",
          data: "year=" + year,
          success: function(results){
            results = eval('(' + results + ')');
            console.log(results);
          }

        });
      }
      
    </script>
    <style>
      .semester_row{
        background-color: lightskyblue;
        border-left: 1px solid #747c8a;
        font-weight: bold;
        padding: 1.25em 0 1.25em 1.25em;
        text-transform: uppercase;
        font-size: 100%;
        line-height: 3em;
      }
      .class_name_header, .males_header, .females_header, .total_header{
        font-weight: bold;
        text-transform: uppercase;
      }
      #year{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
    </style>
  </head>
  <body>
    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">

          <li class="v-sep"><a href="#" class="round button dark ic-left-arrow image-left">Go to website</a></li>
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>

          <li><a href="#" class="round button dark menu-email-special image-left">3 new messages</a></li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index">Students</a></li>
          <li><a href="/parent/index">Parents</a></li>
          <li><a href="/teacher/index">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/course/index">Courses</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/semesters/index" class="active-tab">Semester</a></li>
          <li><a href="/attendance/index">Daily Attendance</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/semesters/semester_settings">Set Total Semesters</a></li>
            <li><a href="/semesters/set_current_semester">Set Current Semester</a></li>
            <li><a href="/semesters/view_semesters">View Semesters</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Set Semester Settings</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <table style="width:25%; float: right;">
                <tr>
                  <td style="font-size: 12pt; font-weight: bold;">Select Year</td>
                  <td><%= select_tag("year", options_for_select(@years), {:onchange => "loadSemesterData();"})%></td>
                </tr>
              </table>
              <table>
                <tbody>
                  <% @hash.sort_by{|k, v|k}.each do |semester_id, data| %>
                  <tr>
                    <td colspan="4" class="semester_row">Semester <%= semester_id %></td>
                  </tr>
                  <tr>
                    <td class="class_name_header" style="min-width: 20%;">Class</td>
                    <td class="males_header" style="text-align:center;">Males</td>
                    <td class="females_header" style="text-align:center;">Females</td>
                    <td class="total_header">Total</td>
                  </tr>
                  <%  @hash[semester_id].each do |class_room_id, students|%>
                  <tr style="line-height:0.1em;">
                    <%
                      males = students["males"]
                      females = students["males"]
                      total_students = students["total_students"]
                    %>
                    <td><%= @class_room_hash[class_room_id] %></td>
                    <td style="text-align:center;"><%= males %></td>
                    <td style="text-align:center;"><%= females %></td>
                    <td><%= total_students %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
            view : 'years',
            direction: ['<%=  (Date.today - 2.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today + 1.year).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>