<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Payments Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= javascript_include_tag("webcam") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script language="JavaScript">
      function preview_snapshot() {
        // freeze camera so user can preview pic
        Webcam.freeze();

        // swap button sets
        document.getElementById('pre_take_buttons').style.display = 'none';
        document.getElementById('post_take_buttons').style.display = '';
      }

      function cancel_preview() {
        // cancel preview freeze and return to live camera feed
        Webcam.unfreeze();

        // swap buttons back
        document.getElementById('pre_take_buttons').style.display = '';
        document.getElementById('post_take_buttons').style.display = 'none';
      }

      function save_photo() {
        // actually snap photo (from preview freeze) and display it
        Webcam.snap( function(data_uri) {
          // display results in page
          document.getElementById('results').innerHTML ='<img src="'+data_uri+'"/>';
          // swap buttons back
          document.getElementById('pre_take_buttons').style.display = '';
          document.getElementById('post_take_buttons').style.display = 'none';
        } );
        sendPictureToServer();
      }

      function sendPictureToServer(){
        url = '/student_photos/upload_photo?student_id=<%=params[:student_id]%>'
        Webcam.snap( function(data_uri) {

		Webcam.on( 'uploadProgress', function(progress) {
			// Upload in progress
			// 'progress' will be between 0.0 and 1.0
		} );

		Webcam.on( 'uploadComplete', function(code, text) {
			// Upload complete!
			// 'code' will be the HTTP response code from the server, e.g. 200
			// 'text' will be the raw response content
                        window.location = location.href;
		} );

		Webcam.upload( data_uri, url );

	} )


      }
    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 8.99pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #payment_type input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        width: 187px;
      }

      input[type="submit"] {
        margin-left: 31%;
      }

      #payment, #semester {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 199px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #dop{
        width: 191px !important;
        text-align: center;
      }

      #results { 
        float:right;
        border-radius: 5px;

      }

      a{
        cursor: pointer;
      }

      #my_camera{

        border-radius: 5px;
      }

      .student_photo{
          width: 80%;
          height: 50%;
          border-radius: 20px;
        }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/attachments/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/class_room/index">Class management</a></li>
              <li><a href="/teacher/manage_teachers_menu">Manage Lecturers/teachers</a></li>
              <li><a href="/examination_type/manage_exam_type_menu">Exam Type Management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="/payments/payments_management_menu">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/id_cards_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/id_cards_menu" class="active-tab">ID cards</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/take_picture/">Take student picture</a></li>
            <li><a href="/student/generate_id_card/">Generate ID card</a></li>
            <li><a href="/student/print_id_card/">Print ID cards</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:67%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">New Photo</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>

                  <div id="results">
                  </div>
                  <div id="my_camera">

                  </div>

                  <form><br />
                    <div id="pre_take_buttons">
                      <a class="button round blue text-upper" onclick="preview_snapshot();">&lt; Take Snapshot</a>
                    </div>
                    <div id="post_take_buttons" style="display:none">
                      <a class="button round blue text-upper" onclick="cancel_preview();">&lt; Take Another</a>
                      <a class="button round blue text-upper" onclick="save_photo();">Save Photo &gt</a>
                    </div>
                  </form>

                  <!--CAMERA END -->
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:32%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">My Photos (<%= @student.student_photos.count %>)</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <span style="font-size: 0.9em; font-weight: bold;">Name</span>:
                  <span style="font-size:0.9em;">
                    <a href="#"><%= @student.fname.to_s + ' ' + @student.lname.to_s + ' (' + @student.gender.first.capitalize.to_s + ')' %></a>
                  </span><br />
                  <span style="font-size: 0.9em; font-weight: bold;">Class:</span>
                  <span style="font-size:0.9em;">
                    <a href="#"><%= @student.class_room_student.class_room.name rescue 'Unknown Class'%></a>
                  </span><br />
                  <span style="font-size: 0.9em; font-weight: bold;">Age:</span>
                  <span style="font-size:0.9em;">
                    <a href="#"><%= @student.age %></a>
                  </span><br /><br />
                  <% unless @student.student_photos.blank? %>
                  <%= image_tag("/student_photos/code_student_photo?student_id=#{params[:student_id]}", :class => "student_photo")%>
                  <% else %>
                      <div class="error-box round">
                      No Photo available
                    </div>
                  <% end %>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script type="text/javascript">
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  Date.today.strftime("%Y-%m-%d") %>']
      });

      Webcam.set({
        width: 238,
        height: 184,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach( '#my_camera' );
    </script>
  </body>
</html>