<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script>
      function selectGender(){
        <% unless @student.gender.blank? %>
            <% if @student.gender.upcase == 'MALE' %>
                document.getElementById('male').setAttribute("selected", 'true')
            <% end %>
            <% if @student.gender.upcase == 'FEMALE' %>
                document.getElementById('female').setAttribute("selected", 'true')
            <% end %>
        <% end %>
      }

      window.setTimeout("selectGender();", 100);
    </script>
    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      table{
        margin-left:15%;
        width: 60%;
      }
      table td #simple-input{
        float: right;
      }

      table label{
        text-align: left;
      }
      #simple-input{
        font-size: 10pt !important;
      }

      #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }
      input[type="submit"] {
        margin-left: 37%;
      }
      #gender{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        width: 205px;
        text-align: center;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/student/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="#">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index" class="active-tab"> Students</a></li>
          <li><a href="/parent/index">Parents</a></li>
          <li><a href="/teacher/index">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/course/index">Courses</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/semesters/index">Semester</a></li>
          <li><a href="/attendance/index">Daily Attendance</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/add_student/">Add Student</a></li>
            <li><a href="/student/edit_student/">Edit Student</a></li>
            <li><a href="/student/remove_students/">Void Student</a></li>
            <li><a href="/student/assign_class/">Assign Class</a></li>
            <li><a href="/student/assign_subjects">Assign Subjects</a></li>
            <li><a href="/student/edit_subjects">Edit Subjects</a></li>
            <li><a href="/student/assign_parent_guardian">Assign Parent/Guardian</a></li>
            <li><a href="/student/edit_parent_guardian">Edit Parent/Guardian</a></li>
            <li><a href="/student/filter_students">Filter Students By</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Student Registration</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <form id="registration" class="autoform" action="/student/edit_me" method="POST" >

                <div><label for="firstname">First Name</label><input type="text" name="firstname" class="firstname required" id="firstname" maxlength="30" value="<%= @student.fname %>"/></div>
                <div><label for="lastname">Last Name</label><input type="text" name="lastname" class="lastname required" id="lastname" maxlength="30" value="<%= @student.lname %>"/></div>
                <div><label for="phone">Phone</label><input type="text" name="phone" class="phone required" id="phone" maxlength="12" value="<%= @student.phone %>"/></div>
                <div><label for="email">Email</label><input type="text" name="email" class="email required" id="email" maxlength="60" value="<%= @student.email %>"/></div>

                <div>
                  <label for="gender">Gender</label>
                  <select id="gender" name="gender" class="select required">
                    <option value="">[select Gender]</option>
                    <option value="Male" id="male">Male</option>
                    <option value="Female" id="female">Female</option>
                  </select>
                </div>

                <div><label for="text">Date of Birth</label><input type="text" name="dob" class="text required date-picker" value="<%= @student.dob %>"/></div>

                <div class="stripe-separator"><!--  --></div>
                <input type="hidden" name="student_id" value="<%= params[:student_id] %>" />
                <input type="submit" value="Submit" class="round blue ic-right-arrow" />
              </form>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 30.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today - 12.years).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>