<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student Section</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    
    <script>
      function showHideCustomDateInputs(value){
        console.log(value);
        if (value == 'custom_date'){
          document.getElementsByClassName("custom-date-inputs")[0].style.display = "";
        }
        else{
          document.getElementsByClassName("custom-date-inputs")[0].style.display = "none";
          $('.start-date')[0].value = ''
          $('.end-date')[0].value = ''
        }
      }

      function loadSearchResults(){
        classRoomId = document.getElementsByClassName('class_room_search')[0].value;
        gender = document.getElementsByClassName('gender_search')[0].value;
        startDate = document.getElementsByClassName('start-date')[0].value;
        endDate = document.getElementsByClassName('end-date')[0].value;
        dateCategory = document.getElementsByClassName('date_enrolled_search')[0].value;
        jQuery.ajax({
          type: "POST",
          url: "/student/filter_students_by_params",
          data: "class_room_id=" + classRoomId + "&gender=" + gender + "&date_category=" + dateCategory + "&start_date=" + startDate + "&end_date=" + endDate,
          success: function(results){
            //results = eval("(" + results  + ")");
            html = "";
            tbody = document.getElementById("students");

            for (var student_id in results){
              firstName = results[student_id]["fname"];
              lastName = results[student_id]["lname"];
              gender = results[student_id]["gender"];
              phone = results[student_id]["phone"];
              email = results[student_id]["email"];
              dob = results[student_id]["dob"];
              join_date = results[student_id]["join_date"];
              html+="<tr>";
              html+="<td>" + firstName + ' ' + lastName +  "</td>";
              html+="<td><a href='#'>" + email +  "</a></td>";
              html+="<td>" + gender +  "</td>";
              html+="<td>" + dob +  "</td>";
              html+="<td>" + phone +  "</td>";
              html+="<td>" + join_date +  "</td>";
              html+="<td><a student_id=" + student_id + " onclick='editMe(this)' href='#' class='table-actions-button ic-table-edit'></a></td>";
              html+="</tr>";
            }

            tbody.innerHTML = html
          }

      });

  }
    </script>
    <style>
      /*table{
        margin-left:15%;
        width: 60%;
      }
      table td #simple-input{
        float: right;
      }

      table label{
       text-align: left;
      }
      #simple-input{
        font-size: 10pt !important;
      }

    form input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
    }

    input[type="submit"] {
      margin-left: 37%;
    }*/
      .start-date, .end-date{
        background-color: #fff;

        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        height: 26px;
        line-height: 1.42857;
        margin-left: 30%;
        
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        margin-left: 0%;
      }

      #dropdown-actions{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        margin-left: 30%;
        min-width: 108px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        margin-left: 0%;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 5px;
        width: 98.7%;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
      }
      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 140px;
        padding: 3px;
        font-size: 14px;
      }

      .search_table{
        display: table;
      }

      .search_row{
        display: table-row;
      }

      .search_td{
        display: table-cell;
      }

      table th:first-child {
        border-style: none none none !important;
    }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/class_room/index">Class management</a></li><li><a href="/teacher/manage_teachers_menu">Manage Lecturers/teachers</a></li><li><a href="/examination_type/manage_exam_type_menu">Exam Type Management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/student_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index" class="active-tab"> Students</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/add_student/">Register/Enroll student</a></li>
            <li><a href="/student/edit_student/">Edit Student</a></li>
            <li><a href="/student/remove_students/">Void Student</a></li>
            <li><a href="/student/assign_class/">Assign Class</a></li>
            <li><a href="/student/assign_subjects">Assign Subjects</a></li>
            <li><a href="/student/edit_subjects">Edit Subjects</a></li>
            <li><a href="/student/assign_parent_guardian">Assign Parent/Guardian</a></li>
            <li><a href="/student/edit_parent_guardian">Edit Parent/Guardian</a></li>
            <li><a href="/student/filter_students">Filter Students By</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Class assignment</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                  <div class="confirmation-box round">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:error] %>
                  <div class="error-box round">
                      <%= flash[:error] %>
                  </div>
                <% end %>
              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>Filter</legend>
                  <div style="width:78%; margin-left:10%;">
                    <table>
                      <tr>
                        <td style="width:10%;">Class</td>
                        <td style="width:5%">
                          <%= select_tag:class_name, options_for_select(@class_rooms), {
                            :id => "dropdown-actions", :class => "class_room_search"} %>
                        </td>
                        <td style="width:10%;">Gender</td>
                        <td style="width:5%">
                          <select id="dropdown-actions" class="gender_search">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </td>
                        <td style="">Date Enrolled</td>
                        <td>
                          <select id="dropdown-actions" class="date_enrolled_search" onchange="showHideCustomDateInputs(this.value)">
                            <option value="">Select Date Enrolled</option>
                            <option value="today">Today</option>
                            <option value="this_week">This Week</option>
                            <option value="this_month">This Month</option>
                            <option value="last_month">Last Month</option>
                            <option value="this_year">This Year</option>
                            <option value="all_dates">All Dates</option>
                            <option value="custom_date" >Custom Date</option>
                          </select>
                        </td>
                      </tr>
                      <tr class="custom-date-inputs" style="display:none;">
                        <td>Start Date</td>
                        <td><input type="text"  id="simple-input" class="round default-width-input start-date date-picker" /></td>
                        <td>End Date</td>
                        <td><input type="text"  id="simple-input" class="round default-width-input end-date date-picker" /></td>
                      </tr>
                      <tr>
                        <td colspan="6"><a href="#" onclick="loadSearchResults();" class="button round blue image-right ic-search text-upper">Filter</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>

              <table>

                <thead>

                  <tr>
                    <th style="min-width:15%;">Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Phone #</th>
                    <th>Date of Join</th>
                    <th>Action</th>
                  </tr>

                </thead>

                <tbody id="students">
                  
                </tbody>

              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->
    
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      
        $('.start-date').Zebra_DatePicker({
              view : 'years',
              direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today).strftime("%Y-%m-%d") %>']
        });

        $('.end-date').Zebra_DatePicker({
              view : 'years',
              direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today).strftime("%Y-%m-%d") %>']
        });

    </script>
  </body>
</html>