<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Page</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function removeMyDepartment(obj){
        studentID = '<%= params[:student_id] %>'
        departmentID = obj.getAttribute("department_id");
        jQuery.confirm({
          title:"Student Department Delete",
          text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
          confirm: function() {
            jQuery.ajax({
              type: "POST",
              url: "/student/remove_my_department",
              data: "student_id=" + studentID + '&department_id=' + departmentID,
              success: function(results){
                element = document.getElementById(departmentID);
                element.parentNode.removeChild(element)
              }

            });
          },
          cancel: function() {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        })};
    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 8.99pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #departments input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        width: 187px;
      }

      input[type="submit"] {
        margin-left: 2%;
      }

      #department_id{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 199px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>    
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/my_page?student_id=<%= @student.id %>" class="active-tab"><%= @student.name %> (<%= @student.gender.first.capitalize %>)</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/my_class?student_id=<%= @student.id %>">My Classes</a></li>
            <li><a href="/student/my_courses?student_id=<%= @student.id %>">My Courses</a></li>
            <li><a href="/student/my_performance?student_id=<%= @student.id %>">My Performance</a></li>
            <li><a href="/student/my_department?student_id=<%= @student.id %>">My Department</a></li>
            <li><a href="/student/my_punishments?student_id=<%= @student.id %>">My Punishments</a></li>
            <li><a href="/student/my_payments?student_id=<%= @student.id %>">My Payments</a></li>
            <li><a href="/student/my_guardian?student_id=<%= @student.id %>">My Guardian</a></li>
            <li><a href="/student/my_photos?student_id=<%= @student.id %>">My Photos</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:67%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">My Department</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                  <% if @departments_hash.blank? %>
                    <div class="error-box round">
                      I don't have any departments yet
                    </div>
                  <% end %>

                  <% if params[:add_department] %>
                    <form id="departments" class="autoform" action="/student/create_my_department" method="POST">

                      <div>
                        <label for="department_id" style="width:101px;">Department</label>
                        <%= select_tag("department_id", options_for_select(@departments), {:class => "select required"}) %>
                      </div>

                      <div class="stripe-separator"><!--  --></div>
                      <%= hidden_field_tag("student_id", params[:student_id]) %>
                      <a style="margin-left:2%;"class="button round blue image-right ic-cancel text-upper" href="/student/my_department?student_id=<%= params[:student_id] %>">Cancel</a>
                      <input type="submit" value="Submit" class="round blue ic-right-arrow" />
                    </form>
                  <% end %>

                  <table>
                    <thead>
                      <tr>
                        <th style="width:30%;">Department Name</th>
                        <th>Department Code</th>
                        <th>Faculty</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td class="table-footer" colspan="5" style="text-align:right;">
                          <a href="/student/my_department?add_department=true&student_id=<%= params[:student_id] %>" class="button round blue image-right ic-add text-upper">Add Department</a>
                        </td>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% @departments_hash.each do |department_id, values|%>
                        <tr id="<%= department_id %>">
                          <td style="text-align: left; padding-left: 0.6em;"><%= values["department_name"] %></td>
                          <td><%= values["department_code"] %></td>
                          <td style="width:30%;"><%= values["faculty_name"] %></td>
                          <td>
                            <a department_id="<%= department_id %>" class="table-actions-button ic-table-delete confirm" onmousedown="removeMyDepartment(this)" href="#"></a>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:32%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">About Me</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">

                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
        $('.date-picker').Zebra_DatePicker({
          view : 'years',
          direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  Date.today.strftime("%Y-%m-%d") %>']
        });
    </script>
  </body>
</html>