<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Page</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">

    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 8.99pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #departments input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        width: 187px;
      }

      input[type="submit"] {
        margin-left: 10%;
      }

      #faculty_id{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 199px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }

      table .round {
        border-radius: 1.313em;
      }
      #results_entry {
        margin-top: 3%;
        width: 55%;
        border: 1px solid #d9dbdd;
        outline: medium none;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: green;
        display: inline-block;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 4px 6px;
        text-align: center;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      }

      #results_entry:focus{
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
      }
    </style>
  </head>
  <body>    
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/my_page?student_id=<%= @student.id %>" class="active-tab"><%= @student.name %> (<%= @student.gender.first.capitalize %>)</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/my_class?student_id=<%= @student.id %>">My Classes</a></li>
            <li><a href="/student/my_courses?student_id=<%= @student.id %>">My Courses</a></li>
            <li><a href="/student/my_performance?student_id=<%= @student.id %>">My Performance</a></li>
            <li><a href="/student/my_department?student_id=<%= @student.id %>">My Department</a></li>
            <li><a href="/student/my_punishments?student_id=<%= @student.id %>">My Punishments</a></li>
            <li><a href="/student/my_payments?student_id=<%= @student.id %>">My Payments</a></li>
            <li><a href="/student/my_guardian?student_id=<%= @student.id %>">My Guardian</a></li>
            <li><a href="/student/my_photos?student_id=<%= @student.id %>">My Photos</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:67%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">My Performance</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>

                  <% if (params[:edit_exam_results]) %>
                    <form action="/student/update_exam_result" method="POST">
                      <table>
                        <tr>
                          <th style="width:20%;">Exam Date</th>
                          <th style="padding:6px; text-align: center;">Course</th>
                          <th style="padding:6px; text-align: center;">Exam Type</th>
                          <th style="padding:6px; width:24%;">Exam Results</th>
                        </tr>
                        <tr>
                          <td><%= @exam_result.examination.start_date %></td>
                          <td><%= @exam_result.examination.course.name %></td>
                          <td><%= @exam_result.examination.examination_type.name %></td>
                          <td><input id="results_entry" type="text" value="<%= @exam_result.marks %>"required="required" name="exam_results"/></td>
                        </tr>
                      </table>
                      <%= hidden_field_tag("student_id", params[:student_id]) %>
                      <%= hidden_field_tag("exam_id", params[:exam_id]) %>
                      <a class="button round blue image-right ic-cancel text-upper" href="/student/my_performance?student_id=<%= params[:student_id] %>">Cancel</a>
                      <input type="submit" class="round blue ic-right-arrow" value="Submit"/>
                      <div class="stripe-separator"><!--  --></div>
                    </form>
                  <% end %>

                  <table>
                    <% @exams_hash.each do |class_room_id, values| %>
                      <tr>
                        <th colspan="4" style="text-align:center; border-bottom: 2px solid white !important; background-color: #006dcc;">
                          <%= @class_room_hash[class_room_id] %>
                        </th>
                      </tr>
                      <tr>

                        <th style="width:20%;">Exam Date</th>
                        <th style="padding:6px; text-align: center;">Course</th>
                        <th style="padding:6px; text-align: center;">Exam Type</th>
                        <th style="padding:6px; width:24%;">Exam Results</th>
                      </tr>
                      <% values.each do |exam_id, exam_data| %>
                        <tr>
                          <td><%= exam_data["exam_date"] %></td>
                          <td><%= exam_data["course"] %></td>
                          <td><%= exam_data["exam_type"] %></td>
                          <% unless exam_data["exam_results"].blank? %>
                            <td style="text-align: right; padding-right: 5px;">
                              <a style="font-weight:bold; font-size: 12pt; padding-right: 15px;"><%= exam_data["exam_results"] %></a>
                              <a href="/student/my_performance?edit_exam_results=true&student_id=<%= params[:student_id] %>&exam_id=<%= exam_id %>"class="button round blue image-right ic-edit text-upper" href="#">Edit</a>
                            </td>
                          <% else %>
                            <td style="padding-left:12px; padding-right: 5px; text-align: right">
                              <a style="font-weight:bold; font-size: 8pt; padding-right:5px;">(Not Available)</a>
                              <a class="button round blue image-right ic-add text-upper" href="#">Add</a>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:32%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">About Me</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">

                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  Date.today.strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>