<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Page</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">

    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 8.99pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #departments input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        width: 187px;
      }

      input[type="submit"] {
        margin-left: 31%;
      }

      #faculty_id{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 199px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }

    </style>
  </head>
  <body>    
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/my_page?student_id=<%= @student.id %>" class="active-tab"><%= @student.name %> (<%= @student.gender.first.capitalize %>)</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/my_class?student_id=<%= @student.id %>">My Classes</a></li>
            <li><a href="/student/my_courses?student_id=<%= @student.id %>">My Courses</a></li>
            <li><a href="/student/my_performance?student_id=<%= @student.id %>">My Performance</a></li>
            <li><a href="/student/my_department?student_id=<%= @student.id %>">My Department</a></li>
            <li><a href="/student/my_punishments?student_id=<%= @student.id %>">My Punishments</a></li>
            <li><a href="/student/my_payments?student_id=<%= @student.id %>">My Payments</a></li>
            <li><a href="/student/my_guardian?student_id=<%= @student.id %>">My Guardian</a></li>
            <li><a href="/student/my_photos?student_id=<%= @student.id %>">My Photos</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:67%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">My Page</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                  <table style="width:60%; margin-left: 15%;">
                    <thead>
                      <tr>
                        <th>TODO LIST</th>
                      </tr>
                    <tbody>

                      <% if not @class_room_available %>
                        <tr>
                          <td style="text-align:left; padding-left: 4em; font-weight: bold;"><a href="#">Missing Class</a></td>
                          <td style="width:30px;">
                            <a style="width:80%;" href="/student/my_class?add_class=true&student_id=<%= params[:student_id] %>" class="button round blue image-right ic-add text-upper">Add Class</a>
                          </td>
                        </tr>
                      <% end %>

                      <% if not @guardian_available %>
                        <tr>
                          <td style="text-align:left; padding-left: 4em; font-weight: bold;"><a href="#">Missing Guardian</a></td>
                          <td style="width:30px;">
                            <a style="width:80%;" href="/student/my_guardian?student_id=<%= params[:student_id] %>&add_guardian=true" class="button round blue image-right ic-add text-upper">Add Guardian</a>
                          </td>
                        </tr>
                      <% end %>

                      <% if not @photos_available %>
                        <tr>
                          <td style="text-align:left; padding-left: 4em; font-weight: bold;"><a href="#">Missing Photos</a></td>
                          <td style="width:30px;">
                            <a style="width:80%;" href="/student/add_student_photo?student_id=<%= params[:student_id] %>" class="button round blue image-right ic-add text-upper">Add Photos</a>
                          </td>
                        </tr>
                      <% end %>

                      <% if not @department_available %>
                        <tr>
                          <td style="text-align:left; padding-left: 4em; font-weight: bold;"><a href="#">Missing Department</a></td>
                          <td style="width:30px;">
                            <a style="width:80%;" href="/student/my_department?add_department=true&student_id=<%= params[:student_id] %>" class="button round blue image-right ic-add text-upper">Add Department</a>
                          </td>
                        </tr>
                      <% end %>
                      <% if @missing_data.blank? %>
                        <tr>
                          <td colspan="2" style="color:green; font-weight: bold;">It looks like everything for this student is done!!</td>
                        </tr>
                      <% end %>
                    </tbody>
                    </thead>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:32%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">About Me</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <table>
                    <tr>
                      <% unless @student.student_photos.blank? %>
                        <td rowspan="9" style="width:60px;">
                          <span class="my_picture"><%= image_tag("/student/my_picture?student_id=#{params[:student_id]}", :alt => 'My Photo', :style => 'height:5em')%></span>
                        </td>
                      <% else %>
                        <td rowspan="9">
                          <span class="my_picture"><%= image_tag("#{@student.gender.downcase}.png", :style => 'height:5em') %></span>
                        </td>
                      <% end %>
                    </tr>
                    <tr>
                      <td style="text-align: center; border-bottom: 1px solid black; font-weight:bold;"><a><%= @student.name %></a></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; background-color: white;"><span style="font-weight:bold; padding-left: 6px;">Gender</span>: <a><i><%= @student.gender %></i></a></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; background-color: white;"><span style="font-weight:bold; padding-left: 6px;">DOB</span>: <a><i><%= @student.dob.to_date.strftime("%d-%b-%Y") %></i></a></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; background-color: white;"><span style="font-weight:bold; padding-left: 6px;">Phone</span>: <a><i><%= (@student.phone || '??') %></i></a></td>
                    </tr>
                    <tr>
                      <%
                      guardian =  @student.my_guardian
                      guardian = '??' if guardian.blank?
                    %>

                      <td style="text-align: left; background-color: white;"><span style="font-weight:bold; padding-left: 6px;">Guardian</span>: <a><i><%= (guardian) %></i></a></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; background-color: white;"><span style="font-weight:bold; padding-left: 6px;">Class</span>: <a><i><%= (@student.current_class || '??') %></i></a></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; background-color: white; border-bottom: 1px solid black;"><span style="font-weight:bold; padding-left: 6px;">Date of Join</span>: <a><i>01-Jan-2015</i></a></td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">&nbsp;</td>
                    </tr>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  Date.today.strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>