<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script>
        function selectAll(){
            selectAllInput = document.getElementById('table-select-all');
            if (selectAllInput.checked){
              selectAllInput.checked = true;
            }
            else {
              selectAllInput.checked = false
            }
            inputs = document.getElementsByTagName("input");
            for (var i=0; i<=inputs.length - 1; i++){
              if (inputs[i] == selectAllInput) continue;
              if (inputs[i].type == 'checkbox'){
                if (inputs[i].checked){
                  inputs[i].checked = false;
                }
                else{
                  inputs[i].checked = true;
                }
              }
            }
         }

      function deletestudents(){
        inputs = document.getElementsByTagName("input");
        studentIDs = []
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              if (inputs[i].hasAttribute("student_id")){
                studentID = inputs[i].getAttribute("student_id");
                studentIDs.push(studentID);
              }
            }
          }
        }

        jQuery.ajax({
          type: "POST",
          url: "/student/delete_students",
          data: "student_ids=" + studentIDs,
          success: function(){
            for (var x=0; x<= studentIDs.length - 1; x++){
              id = studentIDs[x];
              element = document.getElementById(id);
              element.parentNode.removeChild(element)
            }
          }

      });
      }
      var currentStudentID = "";
      function setcurrentStudentID(obj){
        currentStudentID = obj.getAttribute("student_id");
      }

      function deleteSingleEntry(){
        jQuery.ajax({
          type: "POST",
          url: "/student/delete_students",
          data: "student_id=" + currentStudentID + "&mode=single_entry",
          success: function(){
              element = document.getElementById(currentStudentID);
              element.parentNode.removeChild(element);
          }

      });
      }
    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      table th:first-child {
        border-style: none none none !important;
      }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/student/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="#">Print teacher's timetable</a></li>
              <li><a href="#">Documents management</a></li>
              <li><a href="#">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="#">Employee registration</a></li>
              <li><a href="#">Employee management</a></li>
              <li><a href="#">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="#">User management</a></li>
              <li><a href="#">Parents management</a></li>
              <li><a href="#">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="#">Supper reports generator</a></li>
              <li><a href="#">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index" class="active-tab">Students</a></li>
          <li><a href="/student/index">Parents</a></li>
          <li><a href="/teacher/index">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/course/index">Courses</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/semesters/index">Semester</a></li>
          <li><a href="/attendance/index">Daily Attendance</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/student/add_student/">Add Student</a></li>
            <li><a href="/student/edit_student/">Edit Student</a></li>
            <li><a href="/student/remove_students/">Void Student</a></li>
            <li><a href="/student/assign_class/">Assign Class</a></li>
            <li><a href="/student/assign_subjects">Assign Subjects</a></li>
            <li><a href="/student/edit_subjects">Edit Subjects</a></li>
            <li><a href="/student/assign_parent_guardian">Assign Parent/Guardian</a></li>
            <li><a href="/student/edit_parent_guardian">Edit Parent/Guardian</a></li>
            <li><a href="/student/filter_students">Filter Students By</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Table design</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">

              <% if flash[:notice] %>
                  <div class="confirmation-box round">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:error] %>
                  <div class="error-box round">
                      <%= flash[:error] %>
                  </div>
                <% end %>
             <table>

                <thead>

                  <tr>
                    <th><input type="checkbox" id="table-select-all" onclick="selectAll();"/></th>
                    <th style="min-width:15%;">Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Phone #</th>
                    <th>Date of Join</th>
                    <th>Action</th>
                  </tr>

                </thead>

                <tfoot>
                  <tr>
                    <td colspan="3" class="table-footer">
                      <a href="#" class="button round blue image-right ic-delete text-upper delete-multiple">Delete</a>
                    </td>
                  </tr>
                </tfoot>

                <tbody id="students">
                  <% @students.each do |student| %>
                  <tr id="<%= student.id %>">
                    <td><input type="checkbox" student_id="<%= student.id %>"/></td>
                    <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%= student.fname.capitalize.to_s + ' ' + student.lname.capitalize.to_s %></td>
                    <td><a href="#"><%=  student.email %></a></td>
                    <td><%=  student.gender %></td>
                    <td><%=  student.dob.to_date.strftime("%d-%b-%Y") %></td>
                    <td><%=  student.phone %></td>
                    <td><%=  student.created_at.strftime("%d-%b-%Y") %></td>
                    <td>
                      <a student_id="<%= student.id %>" href="#" onmousedown="setcurrentStudentID(this)" class="table-actions-button ic-table-delete confirm"></a>
                    </td>
                  </tr>
                  <% end %>
                </tbody>

              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->







        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->
    <%= javascript_include_tag("bootstrap") %>
    <script>

      $(".delete-multiple").confirm({
            title:"Delete confirmation",
            text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
            confirm: function(button) {
              deletestudents();
            },
            cancel: function(button) {
              alert("You aborted the operation.");
            },
            confirmButton: "Yes I am",
            cancelButton: "No"
        });

        $(".confirm").confirm({
            title:"Delete confirmation",
            text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
            confirm: function(button) {
              deleteSingleEntry();
            },
            cancel: function(button) {

            },
            confirmButton: "Yes I am",
            cancelButton: "No"
        });
    </script>
  </body>
</html>