<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student Section</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("iphone-style-checkboxes") %>
    <%= javascript_include_tag("exporting") %>
    
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag "iphone_like" %>

    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
      
    </script>

    <style type="text/css">
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }

      #search-student-form legend {
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 215px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      #dropdown-actions {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 12px !important;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 137px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      form.autoform .msg.icon {
        font-size: 10pt;
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      #search_results table th:first-child {
        border-style: none none none !important;
      }

      #gender{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        width: 205px;
        text-align: center;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      form.autoform label {
        display: block;
        float: left;
        width: 84px;
      }

      a{
        cursor: pointer;
      }


      .css_sized_container .iPhoneCheckContainer {
        width: 150px;
      }

      table th:first-child {
        /*border-style: none none none !important;*/
      }

      .value{
        font-weight: bold;
        padding-right: 20px;
      }

    </style>

  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/warning_letters_menu" class="active-tab">Overdue Students</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="content-module">

          <div class="content-module-heading cf">

            <h3 class="fl">Warning Letter For Overdue Student</h3>
            <span class="fr expand-collapse-text">Click to collapse</span>
            <span class="fr expand-collapse-text initial-expand">Click to expand</span>

          </div> <!-- end content-module-heading -->


          <div class="content-module-main">
            <form id="search-student-form" action="#">
              <fieldset>
                <legend>Student Details</legend>

                <div style="margin-right:2%; width: 60%; float: right;">
                  <div style="margin-left: -15%;">
                    Name: <span class="value"><%= @student.name %></span>
                    Gender: <span class="value"><%= @student.gender %></span>
                    Phone: <span class="value"><%= @student.phone.blank? ? 'Not Set':@student.phone %></span>
                    Class: <span class="value"><%=  @student.current_active_class %></span>
                    <br /><br />
                  </div>
                </div>

              </fieldset>
            </form>
            <div class="form">
              <form action="/student/create_warning_letter" method="POST" class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2">&nbsp;</label>
                  <div class="col-sm-10">
                    <textarea class="form-control ckeditor" name="editor1" rows="6"><%= @latest_warning_letter %></textarea>
                  </div>
                </div><br />

                <%= hidden_field_tag("student_id", params[:student_id]) %>
                <input type="submit" class="round blue ic-right-arrow" value="Submit"></input>
                <a style="margin-left: 100px;" onclick="window.location='/student/warning_letters_menu'" class="button round blue image-right ic-cancel text-upper">Cancel &nbsp;</a>
              </form>
            </div>
            <br />
            
          </div> <!-- end content-module-main -->

        </div> <!-- end content-module -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>