<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script>
      function selectAll(){
        selectAllInput = document.getElementById('table-select-all');
        inputs = document.getElementsByTagName("input");
        if (selectAllInput.checked){
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = true;
            }
          }
        }
        else{
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = false;
            }
          }
        }
      }

      function stopEmployees(startDate, endDate){
        inputs = document.getElementsByTagName("input");
        employeeIDs = []
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              if (inputs[i].hasAttribute("employee_id")){
                employeeID = inputs[i].getAttribute("employee_id");
                employeeIDs.push(employeeID);
              }
            }
          }
        }

        jQuery.ajax({
          type: "POST",
          url: "/employees/stop_employees",
          data: "employee_ids=" + employeeIDs + "&start_date=" + startDate + "&end_date=" + endDate,
          success: function(){
            for (var x=0; x<= employeeIDs.length - 1; x++){
              id = employeeIDs[x];
              element = document.getElementById(id);
              element.parentNode.removeChild(element)
            }
          }

        });
      }
      var currentEmployeeId = "";
      function setCurrentEmployeeId(obj){
        currentEmployeeId = obj.getAttribute("employee_id");
      }

      function stopSingleEntry(startDate, endDate){
        jQuery.ajax({
          type: "POST",
          url: "/employees/stop_employees",
          data: "employee_id=" + currentEmployeeId + "&start_date=" + startDate + "&end_date=" + endDate + "&mode=single_entry",
          success: function(){
            element = document.getElementById(currentEmployeeId);
            element.parentNode.removeChild(element);
          }

        });
      }
    </script>
    <style>
      .date-picker{
        text-align: center;
        font-size: 14pt;
        width: 250px;
        float: right;
        right: 30%;
      }

      .Zebra_DatePicker {
        z-index: 2000;/* custom z-index. Conflicts with jquery.confirm*/
      }
      
      a.table-actions-button {
        height: 2.5em;
        width: 2.5em;
      }
      .ic-table-stop {
        background-image: url("/images/icons/table/actions-stop.png");
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }
      #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }

      #simple-input {
        font-size: 10pt !important;
      }

      #gender, #position{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        width: 205px;
        text-align: center;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
      table th:first-child {
        border-style: none none none !important;
      }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/class_room/index">Class management</a></li>
              <li><a href="/teacher/manage_teachers_menu">Manage Lecturers/teachers</a></li>
              <li><a href="/examination_type/manage_exam_type_menu">Exam Type Management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="/payments/payments_management_menu">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/employees/employee_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/employees/employee_management_menu" class="active-tab"> Employee Management</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/employees/retire_employee/">Retire Employee</a></li>
            <li><a href="/employees/suspend_employee/">Suspend Employee</a></li>
            <li><a href="/employees/stop_employees/">Stop Employee</a></li>
            <li><a href="/employees/end_contract/">End Contract</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Stop Employees</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">

              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <table>

                <thead>

                  <tr>
                    <th><input type="checkbox" id="table-select-all" onclick="selectAll();"/></th>
                    <th style="min-width:15%;">Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Phone #</th>
                    <th>Position</th>
                    <th>Stop</th>
                  </tr>
                </thead>

                <tfoot>
                  <tr>
                    <td colspan="3" class="table-footer">
                      <a href="#" class="button round blue image-right ic-right-arrow text-upper stop-multiple">Stop Employees</a>
                    </td>
                  </tr>
                </tfoot>

                <tbody id="employees">
                  <% @employees.each do |employee| %>
                    <tr id="<%= employee.id %>">
                      <td><input type="checkbox" employee_id="<%= employee.id %>"/></td>
                      <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%= employee.fname.capitalize.to_s + ' ' + employee.lname.capitalize.to_s %></td>
                      <td><a href="#"><%=  employee.email %></a></td>
                      <td><%=  employee.gender %></td>
                      <td><%=  employee.dob.to_date.strftime("%d-%b-%Y") %></td>
                      <td><%=  employee.phone %></td>
                      <td><%=  employee.employee_position.position.name.titleize %></td>
                      <td>
                        <a employee_id="<%= employee.id %>" href="#" onmousedown="setCurrentEmployeeId(this); interval = window.setInterval('loadDatePicker();', 350);" class="table-actions-button ic-table-stop confirm"></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->







        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->
    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>

      $(".stop-multiple").confirm({
        title:"Stop Employee confirmation",
        text:"Are you sure you want to stop the selected employee? <br /><br />Date Stopped: <input value='<%= Date.today.strftime('%Y-%m-%d') %>' type='text' id='stop_date' class='date-picker'/>",
        confirm: function(button) {
          startDate = document.getElementById('stop_date').value;
          endDate = ""
          stopEmployees(startDate, endDate);
        },
        cancel: function(button) {
        },
        confirmButton: "Yes I am",
        cancelButton: "No"
      });

      $(".confirm").confirm({
        title:"Stop Employee confirmation",
        text:"Are you sure you want to stop the selected employee? <br /><br />Date Stopped: <input value='<%= Date.today.strftime('%Y-%m-%d') %>' type='text' id='stop_date' class='date-picker'/>",
        confirm: function(button) {
          startDate = document.getElementById('stop_date').value;
          endDate = ""
          stopSingleEntry(startDate, endDate);
        },
        cancel: function(button) {

        },
        confirmButton: "Yes I am",
        cancelButton: "No"
      });
      
      function loadDatePicker(){
        $('.date-picker').Zebra_DatePicker({
          view : 'years',
          direction: ['<%=  (Date.today - 30.years).strftime("%Y-%m-%d") %>', '<%= Date.today.strftime("%Y-%m-%d") %>']
        });
        stopDate = document.getElementById('stop_date');
        if (stopDate){
          clearInterval(interval);
        }
      }
    </script>
  </body>
</html>