<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Course Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function editPropertyValue(obj){
        property = obj.getAttribute("property");
        value = obj.getAttribute("property_value");
        jQuery.confirm({
          title:"Edit confirmation",
          text:"Are you really really sure you want to edit selected item?",
          confirm: function() {
            window.location = '/admin/period_settings?mode=edit&property=' + property + '&value=' + value;
          },
          cancel: function() {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        });
      }

      function cancel(){
        jQuery.confirm({
          title:"Cancel confirmation",
          text:"Are you really really sure you want to cancel?",
          confirm: function() {
            window.location = "/admin/period_settings";
          },
          cancel: function() {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
        });
      }
    </script>
    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }

      table td:first-child, table td:last-child{
        text-align: left;
      }

      #optional{
        position: relative;
        left: 3%;
      }
      #period_start_time, #period_end_time, #period_length, #lunch_start_time, #lunch_period_length{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 10pt !important;
        font-weight: bold;
        height: 34px;
        line-height: 1.42857;
        width: 205px;
        text-align: center;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      input[type=submit]{
        margin-left: 5%;
      }
      .badge{
        min-width: 89%;
        border-radius: 5px;
        cursor: pointer;
      }

      .badge:hover{
        background-color: #5081b3;
      }

      a{
        cursor: pointer
      }
    </style>
  </head>
  <body> 
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/time_table_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/time_table_management_menu" class="active-tab">Time Table</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/admin/period_settings/">Period Settings</a></li>
            <li><a href="/admin/course_settings/">Course Settings</a></li>
            <li><a href="/admin/teacher_settings/">Teacher Settings</a></li>
            <li><a href="/admin/class_bock_settings/">Class Block Settings</a></li>
            <li><a href="/admin/generate_time_table/">Generate Time Table</a></li>
            <li><a href="/admin/view_time_table/">View Time Table</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:69%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Period Settings</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                  <% if params[:mode].blank? %>
                    <form action="/global_properties/create_period_properties/" method="POST" >
                      <table>
                        <tr style="background-color:white;">
                          <td>Period Starts At?</td>
                          <td><%= select_tag("period_start_time", options_for_select(@start_time), {:required => 'required'}) %></td>
                        </tr>
                        <tr style="background-color:white;">
                          <td>Period Ends At?</td>
                          <td><%= select_tag("period_end_time", options_for_select(@end_time), {:required => 'required'}) %></td>
                        </tr>
                        <tr style="background-color:white;">
                          <td>Period Length</td>
                          <td><%= select_tag("period_length", options_for_select(@period_length), {:required => 'required'}) %></td>
                        </tr>
                        <tr style="background-color:white;">
                          <td>Lunch Starts At?</td>
                          <td><%= select_tag("lunch_start_time", options_for_select(@lunch_start_time), {:required => 'required'}) %></td>
                        </tr>
                        <tr style="background-color:white;">
                          <td>Lunch Period Length</td>
                          <td><%= select_tag("lunch_period_length", options_for_select(@lunch_period_length), {:required => 'required'}) %></td>
                        </tr>
                      </table>
                      <input type="submit" value="Submit" class="round blue ic-right-arrow" />
                    </form>
                  <% end %>
                  <% unless params[:mode].blank? %>
                    <form action="/global_properties/update_properties/" method="POST">
                      <% if params[:property] == 'period_start_time'%>
                        Period Starts At?
                        <%= select_tag("property_value", options_for_select(@start_time, params[:value]), {:required => 'required'}) %>
                      <% end %>

                      <% if params[:property] == 'period_end_time'%>
                        Period Ends At?
                        <%= select_tag("property_value", options_for_select(@end_time, params[:value]), {:required => 'required'}) %>
                      <% end %>

                      <% if params[:property] == 'period_length'%>
                        Period Length
                        <%= select_tag("property_value", options_for_select(@period_length, params[:value]), {:required => 'required'}) %>
                      <% end %>

                      <% if params[:property] == 'lunch_start_time'%>
                        Lunch Starts At?
                        <%= select_tag("property_value", options_for_select(@lunch_start_time, params[:value]), {:required => 'required'}) %>
                      <% end %>

                      <% if params[:property] == 'lunch_period_length'%>
                        Lunch Period Length
                        <%= select_tag("property_value", options_for_select(@lunch_period_length, params[:value]), {:required => 'required'}) %>
                      <% end %>

                      <div class="stripe-separator"><!--  --></div>
                      <%= hidden_field_tag("property", params[:property]) %>
                      <%= hidden_field_tag("source_uri", "period_settings") %>
                      <a class="button round blue image-right ic-cancel text-upper" onclick="cancel();">Cancel</a>
                      <input type="submit" value="Submit" class="round blue ic-right-arrow" />
                    </form>
                  <% end %>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:30%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Current Settings</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <table>
                    <thead>
                      <tr>
                        <th colspan="2"> Period Settings</th>
                      </tr>
                    </thead>
                    <tr style="background-color:white;">
                      <td style="width:50%; font-size: 11pt;">Period Starts At</td>
                      <td style="text-align:center; padding-bottom: 2px;">
                        <span property="period_start_time" property_value="<%= @current_period_start_time %>" onmousedown="editPropertyValue(this)" class="badge badge-info"><%= @current_period_start_time %></span>
                      </td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Period Ends At</td>
                      <td style="text-align:center; padding-bottom: 2px;">
                        <span property="period_end_time" property_value="<%= @current_period_end_time %>" onmousedown="editPropertyValue(this)" class="badge badge-info"><%= @current_period_end_time %></span>
                      </td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Period Length</td>
                      <td style="text-align:center; padding-bottom: 2px;">
                        <span property="period_length" property_value="<%= @current_period_length %>" onmousedown="editPropertyValue(this)" class="badge badge-info"><%= @current_period_length %> Min</span>
                      </td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Lunch Starts At</td>
                      <td style="text-align:center; padding-bottom: 2px;">
                        <span property="lunch_start_time" property_value="<%= @current_lunch_start_time %>" onmousedown="editPropertyValue(this)" class="badge badge-info"><%= @current_lunch_start_time %></span>
                      </td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Lunch Period</td>
                      <td style="text-align:center;">
                        <span property="lunch_period_length" property_value="<%= @current_lunch_period_length %>" onmousedown="editPropertyValue(this)" class="badge badge-info"><%= @current_lunch_period_length %> Min</span>
                      </td>
                    </tr>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  Date.today.strftime("%Y-%m-%d") %>', '<%=  (Date.today + 1.year).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>