<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Course Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }

      table td:first-child, table td:last-child{
        text-align: left;
      }

      table td:first-child{
        width:10em;
      }

      #optional{
        position: relative;
        left: 3%;
      }

      .badge{
        min-width: 72%;
        border-radius: 5px;
      }
    </style>
  </head>
  <body> 
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/time_table_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/time_table_management_menu" class="active-tab">Time Table</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/admin/period_settings/">Period Settings</a></li>
            <li><a href="/admin/course_settings/">Course Settings</a></li>
            <li><a href="/admin/teacher_settings/">Teacher Settings</a></li>
            <li><a href="/admin/class_bock_settings/">Class Block Settings</a></li>
            <li><a href="/admin/generate_time_table/">Generate Time Table</a></li>
            <li><a href="/admin/view_time_table/">View Time Table</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:69%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Teacher Settings</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>

                  <form action="/global_properties/create_teacher_settings/" method="POST" >
                    <table>
                      <tr style="background-color:white;">
                        <td>Minimum Periods A Teacher Can Teach Per Week</td>
                        <td><input type="text" name="teacher_min_periods_per_week" required="required"/></td>
                      </tr>
                      <tr style="background-color:white;">
                        <td>Maximum Periods A Teacher Can Teach Per Week</td>
                        <td><input type="text" name="teacher_max_periods_per_week" required="required"/></td>
                      </tr>
                      <tr style="background-color:white;">
                        <td>Recommended Periods A Teacher Can Teach Per Week</td>
                        <td><input type="text" name="teacher_recommended_periods_per_week" required="required"/></td>
                      </tr>
                      <tr style="background-color:white;">
                        <td>Maximum Courses A Teacher Can Teach In A Row</td>
                        <td><input type="text" name="teacher_max_courses_per_row" required="required"/></td>
                      </tr>
                      <tr style="background-color:white;">
                        <td>Minimum Courses A Teacher Can Teach per Day</td>
                        <td><input type="text" name="teacher_min_courses_per_day" required="required"/></td>
                      </tr>
                      <tr style="background-color:white;">
                        <td>Maximum Courses A Teacher Can Teach per Day</td>
                        <td><input type="text" name="teacher_max_courses_per_day" required="required"/></td>
                      </tr>
                    </table>
                    <input type="submit" value="Submit" class="round blue ic-right-arrow" />
                  </form>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:30%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Current Settings</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <table>
                    <thead>
                      <tr>
                        <th colspan="2"> Teacher Settings</th>
                      </tr>
                    </thead>
                    <tr style="background-color:white;">
                      <td style="width:80%; font-size: 11pt;">Min Periods/Week</td>
                      <td style="text-align:center; padding-bottom: 2px;"><span class="badge badge-info"><%= @teacher_min_periods_per_week %></span></td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Max Periods/Week</td>
                      <td style="text-align:center; padding-bottom: 2px;"><span class="badge badge-info"><%= @teacher_max_periods_per_week %></span></td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Recommended Periods/Week</td>
                      <td style="text-align:center; padding-bottom: 2px;"><span class="badge badge-info"><%= @teacher_recommended_periods_per_week %></span></td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Max Courses Per Row</td>
                      <td style="text-align:center; padding-bottom: 2px;"><span class="badge badge-info"><%= @teacher_max_courses_per_row %></span></td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Min Courses/Day</td>
                      <td style="text-align:center; padding-bottom: 2px;"><span class="badge badge-info"><%= @teacher_min_courses_per_day %></span></td>
                    </tr>
                    <tr style="background-color:white;">
                      <td style="font-size: 11pt;">Max Courses/Day</td>
                      <td style="text-align:center; padding-bottom: 2px;"><span class="badge badge-info"><%= @teacher_max_courses_per_day %></span></td>
                    </tr>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  Date.today.strftime("%Y-%m-%d") %>', '<%=  (Date.today + 1.year).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>