<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Time Table Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>

    <script>

    </script>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/student/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="#">Employee registration</a></li>
              <li><a href="#">Employee management</a></li>
              <li><a href="#">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="#">Parents management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="#">Supper reports generator</a></li>
              <li><a href="#">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/admin/time_table_management_menu" class="active-tab">Time Table</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/admin/generate_time_table/">Generate Time Table</a></li>
            <li><a href="/admin/print_class_time_table/">Print class Time Table</a></li>
            <li><a href="/admin/print_teacher_time_table">Print teacher Time Table</a></li>
            <li><a href="/admin/print_teacher_time_table">Print school Time Table</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">School Time Table</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <div id="container">
              </div>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

           <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

  </body>
</html>