<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <script>
      function editMe(obj){
        courseId = obj.getAttribute("course_id");
        window.location = "/course/edit_me?course_id=" + courseId;
      }
    </script>
    <style>
      table th:first-child {
        border-style: none none none !important;
      }
      
      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/subject_groups_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/course/index" class="active-tab">Courses</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/course/add_course">Add course</a></li>
            <li><a href="/course/edit_course">Edit course</a></li>
            <li><a href="/course/remove_course">Void course</a></li>
            <li><a href="/course/view_courses">View courses</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Edit course</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <table>

                <thead>

                  <tr>
                    <th style="min-width:35%;">Course Name</th>
                    <th style="min-width:35%;"><center>Date created</center></th>
                    <th>Action</th>
                  </tr>

                </thead>

                <tbody id="courses">
                  <% @courses.each do |course| %>
                    <tr>
                      <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%=  course.name.capitalize %></td>
                      <td><center><%= course.created_at.to_date.strftime("%d-%b-%Y") %></center></td>
                      <td>
                        <a course_id="<%= course.id %>" onclick="editMe(this)" class="table-actions-button ic-table-edit"></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>