<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Payments Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">

    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 8.99pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
 
      }

      #departments input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        width: 187px;
      }

      input[type="submit"] {
        margin-left: 31%;
      }

      #faculty_id{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 199px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }

      #department_code, #department_name{
        text-align: center;
      }
    </style>
  </head>
  <body>    
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/faculties/faculties_menu" class="active-tab">Faculties</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/faculties/add_faculty">Add Faculty</a></li>
            <li><a href="/faculties/edit_faculty">Edit Faculty</a></li>
            <li><a href="/faculties/void_faculty">Void Faculties</a></li>
            <li><a href="/faculties/view_faculty">View Faculties</a></li>
            <li><a href="/departments/department_management_menu">Departments</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:67%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Edit Faculty</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>

                  <% if params[:faculty_id].blank? %>
                    <div class="error-box round">
                      Select Faculty to your right first
                    </div>
                  <% end %>

                  <form id="faculties" class="autoform" action="/faculties/edit_faculty" method="POST">

                    <div>
                      <label for="faculty_name" style="width:101px;">Faculty Name</label><input type="text" value="<%= @faculty.name rescue '' %>" name="faculty_name" id="faculty_name" class="text required"/>
                    </div>

                    <% unless params[:faculty_id].blank? %>
                      <%= hidden_field_tag("faculty_id", params[:faculty_id]) %>
                      <div class="stripe-separator"><!--  --></div>
                      <input type="submit" value="Submit" class="round blue ic-right-arrow" />
                    <% end %>
                  </form>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:32%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Available Faculties (<%= @faculties.count %>)</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <% unless @faculties.blank? %>
                    <table>
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Faculty Name</th>
                          <th>Date Created</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% count = 0 %>
                        <% (@faculties || []).each do |faculty| %>
                          <tr>
                            <td><%= count = count + 1 %></td>
                            <td style="padding:2px;"><a href="/faculties/edit_faculty?faculty_id=<%= faculty.id %>"><%= faculty.name %></a></td>
                            <td><%= faculty.created_at.to_date.strftime("%d-%b-%Y") %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% else %>
                    <div class="error-box round">
                      No Faculties found
                    </div>
                  <% end %>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  Date.today.strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>