<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Documents Management System</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>

    <script type="text/javascript">

    </script>

    <style  type="text/css">
      table th:first-child {
        border-style: none none none !important;
      }

      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/attachments/documents_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/attachments/documents_management_menu" class="active-tab">Documents</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/attachments/upload_document/">Upload Document</a></li>
            <li><a href="/attachments/download_document/">Download Document</a></li>
            <li><a href="/attachments/delete_documents/">Delete Documents</a></li>
            <li><a href="/attachments/view_documents/">View Documents</a></li>
            <li><a href="/attachment_types/document_types_menu/">Set Document Types</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Documents Management</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <div id="container">
                <table>
                  <% @attachments_hash.each do |attachment_type_id, values| %>
                    <tr>
                      <th colspan="3" style="font-weight:bold;">Document Type: <i><%= @attachment_types_hash[attachment_type_id] %></i>&nbsp;&nbsp;(<%= values.keys.count %>)</th>
                    </tr>
                    <tr style="line-height: 3em;">
                      <th style="border-top:1px solid white !important">File Name</th>
                      <th style="border-top:1px solid white; border-left:1px solid white; padding:0px; text-align: center;">Content Type</th>
                      <th style="border-top:1px solid white; border-left:1px solid white; width: 150px;">Date Uploaded</th>
                    </tr>
                    <% unless values.blank? %>
                      <% values.each do |attachment_id, data| %>
                        <tr>
                          <td style="width:20em;"><%= data["file_name"] %></td>
                          <td style="text-align: center;"><%=  data["content_type"] %></td>
                          <td style="text-align: center;"><%=  data["date_uploaded"] %></td>
                        </tr>
                      <% end %>
                    <% else %>

                      <tr style="line-height: 4em;">
                        <td colspan="3">
                          <span style="font-size: 10pt;">No document uploaded yet</span>
                        </td>
                      </tr>
                    <% end %>

                    <tr style="background-color: white;">
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr style="background-color: white;">
                      <td>
                        <a style="margin-left: -105px; " onclick="uploadDocument('<%= attachment_type_id %>')" class="button round blue image-right ic-add text-upper">Upload Document(s) &nbsp;</a>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

          <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>