<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Exam Type Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script>
      function selectAll(){
        selectAllInput = document.getElementById('table-select-all');
        inputs = document.getElementsByTagName("input");
        if (selectAllInput.checked){
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = true;
            }
          }
        }
        else{
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = false;
            }
          }
        }
      }

      function checkExamAttendees(){
<% @exam_attendees.each do |exam_attend_id| %>
      examAttendCheckBox = document.getElementById("<%= exam_attend_id %>");
      if (examAttendCheckBox) examAttendCheckBox.checked = true;
<% end %>
  }

  function loadClassStudents(obj){
    jQuery.ajax({
      type: "POST",
      url: "/examination/class_room_students",
      data: "class_room_id=" + obj.value,
      success: function(result){
        result = eval(result);
        html = "<table style='width:500px; margin-left: 8%;'>";
        html += "<tr><td colspan='4' style='font-weight:bold; font-size: 1.1em;'>SELECT STUDENTS</td></tr>"
        html += "<tr style='background-color:white;'><td colspan='6' style='border-bottom:1px solid black;'><span style='margin-left:11%;'><input type='checkbox' id='table-select-all' onclick='selectAll();'>Select All</span></td></tr>"

        for (var x=0; x<= (result.length - 1); x++){
          html += "<tr>";
          for(y=0; y<=(result[x].length - 1); y++){
            studentData = (eval(result[x][y]))
            if (studentData){
              studentId = studentData[0];
              student_name = studentData[1];
              html += "<td><span style='float:right'><input id=" + studentId + " type='checkbox' name=students[" + studentId + "] /></span></td>";
              html += "<td style='text-align:left;'>" + student_name + "</td>";
            }
          }
          html += "</tr>";
        }
        html+="</table>";
        document.getElementById("class_courses").innerHTML = html;
        loadClassCourses(obj.value);
        checkExamAttendees();
      }

    });
  }

  function loadClassCourses(classRoomId){
    selectedCourse = eval('<%= @selected_course.to_json %>');
    selectedCourseName = selectedCourse[0];
    selectedCourseID = selectedCourse[1];
    console.log(selectedCourse)
    jQuery.ajax({
      type: "POST",
      url: "/examination/class_room_courses",
      data: "class_room_id=" + classRoomId,
      success: function(result){
        result = eval(result);
        options = "";
        for (var x=0; x<= (result.length - 1); x++){
          courseData = (eval(result[x]))
          courseId = courseData[0];
          courseName = courseData[1];
          if (parseInt(courseId) == parseInt(selectedCourseID)){
            options += "<option value=" + courseId + " selected=" + courseName + ">" + courseName + "</option>";
            continue;
          }
          options += "<option value=" + courseId + ">" + courseName + "</option>";
        }
        document.getElementById("course").innerHTML = options;
      }

    });
  }
    </script>
    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 10pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #course option{
        padding-left: 40px;
      }

      #exam_type option{
        padding-left: 30px;
      }

      #class_room option{
        padding-left: 40px;
      }

      #class_courses tbody td{
        padding: 0.3em 0.1em 0.3em 0.3em;
        border-bottom: 0px;
        border-left: 0px;
      }

      #exam_assignment input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }

      #class_room, #exam_type, #course{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        min-width: 208px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      input[type="submit"] {
        margin-left: 31%;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/examination_results_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/examination/index" class="active-tab">Examinations</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/examination/assign_exam">Assign Exam</a></li>
            <li><a href="/examination/edit_exam_assignment">Edit Exam Assignment</a></li>
            <li><a href="/examination/void_exam">Void Exam</a></li>
            <li><a href="/examination/capture_exam_results">Capture Exam Results</a></li>
            <li><a href="/examination/edit_exam_results">Edit Exam Results</a></li>
            <li><a href="/examination/void_exam_results">Void Exam Results</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:65%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Edit Exam Assignment</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                  <form id="exam_assignment" class="autoform" method="POST" action="/examination/update_exams">

                    <div>
                      <label for="text" style="width:100px;">Class</label>
                      <%= select_tag("class_room", options_for_select(@class_rooms, @selected_class_room), {
                          :onchange=>"loadClassStudents(this);",
                          :class => "text required"})
                    %>
                    </div>
                    <div>
                      <label for="text" style="width:100px;">Exam Type</label>
                      <%= select_tag("exam_type", options_for_select(@exam_types, @selected_exam_type), {
                          :class => "text required"})
                    %>
                    </div>
                    <div>
                      <label for="text" style="width:100px;">Course</label>
                      <%= select_tag("course", options_for_select(@courses, @selected_course), {
                          :class => "text required"})
                    %>
                    </div>
                    <div><label for="text" style="width:100px;">Exam Date</label><input type="text" name="exam_date" class="text required date-picker" value="<%= @exam_date %>"/></div>

                    <div id="class_courses">
                      <script>
                        classRoomID = '<%= @class_room_id %> '
                        obj = {'value':classRoomID}
                        loadClassStudents(obj);
                      </script>
                    </div>

                    <div class="stripe-separator"><!--  --></div>
                    <%= hidden_field_tag("exam_id", params[:exam_id]) %>
                    <input type="submit" value="Submit" class="round blue ic-right-arrow" style="" />

                  </form>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:34.5%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Previous Exams (<%= @examinations.count %>)</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <table>
                    <thead>
                      <tr>
                        <th style="border:none; width:30%;">Exam</th>
                        <th style="padding: 2px; text-align: center;">Class</th>
                        <th style="padding: 2px; text-align: center;">Course</th>
                        <th style="width:15%; padding-left: 5px; padding-right: 5px;">Action</th>
                      </tr>
                    </thead>
                    <% @examinations.each do |examination| %>
                      <tr>
                        <td style="text-align: left; padding-left: 5px;"><%= examination.examination_type.name %></td>
                        <td style="padding:2px; text-align: center;"><%= examination.class_room.name %></td>
                        <td style="padding:2px; text-align: center;"><%= examination.course.name %></td>
                        <td>
                          <a href="/examination/exam_edit?exam_id=<%= examination.id %>" class="table-actions-button ic-table-edit"></a>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 100.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today + 1.year).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>