<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>

    <script>
      var classCourses = eval(<%= @class_courses %>)
      $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Monthly Average Rainfall'
            },
            subtitle: {
                text: 'Source: WorldClimate.com'
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Rainfall (mm)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Tokyo',
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

            }, {
                name: 'New York',
                data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

            }, {
                name: 'London',
                data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

            }, {
                name: 'Berlin',
                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

            }]
        });
    });

    function loadClassCourses(obj){
      classId = obj.value;
      courses = classCourses[classId];
      options = "";
      for (var courseId in courses){
        courseName = courses[courseId]
        options += "<option value=" + courseId + ">" + courseName + "</option>";
      }
      document.getElementById("course").innerHTML = options;
    }

    function populateDropDowns(){
      classRoom = document.getElementById("class_room");
      examType = document.getElementById("exam_type");
      course = document.getElementById("course");
      year = document.getElementById("year");

      classRoomOptions = classRoom.getElementsByTagName('option');
      examTypeOptions = examType.getElementsByTagName('option');
      courseOptions = course.getElementsByTagName('option');
      yearOptions = year.getElementsByTagName('option');
 
      firstExamClassRoomId = parseInt(<%= @first_exam_class_room %>);
      firstExamTypeId = parseInt(<%= @first_exam_type %>);
      firstExamCourseId = parseInt(<%= @first_exam_course %>);
      firstExamYear = parseInt(<%= @first_exam_year %>);

      for (i=0; i<= classRoomOptions.length - 1; i++){
        classRoomId = parseInt(classRoomOptions[i].getAttribute('value'));
        if (classRoomId == firstExamClassRoomId){
          classRoomOptions[i].setAttribute("selected", 'selected');
          loadClassCourses(classRoomOptions[i])
        }
      }

      for (x=0; x<= examTypeOptions.length - 1; x++){
        examTypeId = parseInt(examTypeOptions[x].getAttribute('value'));
        if (examTypeId == firstExamTypeId){
          examTypeOptions[x].setAttribute("selected", 'selected')
        }
      }

      for (y=0; y<= courseOptions.length - 1; y++){
        courseId = parseInt(courseOptions[y].getAttribute('value'));
        if (courseId == firstExamCourseId){
          courseOptions[y].setAttribute("selected", 'selected')
        }
      }

      for (z=0; z<= yearOptions.length - 1; z++){
        yearId = parseInt(yearOptions[z].getAttribute('value'));
        if (yearId == firstExamYear){
          yearOptions[z].setAttribute("selected", 'selected')
        }
      }
    }
    
    </script>
    <style>
      #filter-graph-form fieldset {
        border: 1px solid gray;
        padding: 0px;
        width: 98.7%;
      }
      #filter-graph-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
      }
      #filter-graph-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 140px;
        padding: 3px;
        font-size: 14px;
      }
      
     #class_room, #exam_type, #course{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        min-width: 167px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #year{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">

          <li class="v-sep"><a href="#" class="round button dark ic-left-arrow image-left">Go to website</a></li>
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
          </li>

          <li><a href="#" class="round button dark menu-email-special image-left">3 new messages</a></li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index">Students</a></li>
          <li><a href="/parent/index">Parents</a></li>
          <li><a href="/teacher/index">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index" class="active-tab">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/course/index">Courses</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/student/my_results">My Results</a></li>
          <li><a href="/admin/time_table">Time Tables</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/examination/new_exam_type">Add Exam Type</a></li>
            <li><a href="/examination/edit_exam_type">Edit Exam Type</a></li>
            <li><a href="/examination/void_exam_type">Void Exam Type</a></li>
            <li><a href="/examination/assign_exam">Assign Exam</a></li>
            <li><a href="/examination/edit_exam_assignment">Edit Exam Assignment</a></li>
            <li><a href="/examination/void_exam">Void Exam</a></li>
            <li><a href="/examination/capture_exam_results">Capture Exam Results</a></li>
            <li><a href="/examination/edit_exam_results">Edit Exam Results</a></li>
            <li><a href="/examination/void_exam_results">Void Exam Results</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Table design</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <form id="filter-graph-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table>
                      <tr>
                        <td style="width:3.5em; text-align: left;"><span>Class</span></td>
                        <td><%= select_tag("class_room", options_for_select(@class_rooms), {:onchange=>"loadClassCourses(this);"})%></td>

                        <td style="text-align: left;"><span>Exam Type</span></td>
                        <td><%= select_tag("exam_type", options_for_select(@exam_types))%></td>

                        <td style="text-align: left;"><span>Course</span></td>
                        <td><%= select_tag("course", options_for_select(@courses))%></td>

                        <td style="text-align: left;"><span>Year</span></td>
                        <td><%= select_tag("year", options_for_select(@years))%></td>
                        <td><a onclick="loadSearchResults();" href="#" class="button round blue image-right ic-search text-upper">Search</a></td>

                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>
              <div id="container">
              </div>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->
          
        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

  </body>
</html>