<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>

    <script>
      var classCourses = eval(<%= @class_courses %>)
      $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Exam Statistics'
            },
            subtitle: {
                text: 'Based on the above parameters'
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px; font-weight:bold;">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};text-align:left; padding:3px;">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
              {
                name: 'Exams With Results',
                data: eval('<%= @exam_with_results.to_json %>')

              },
              {
                name: 'Exams Without Results',
                data: eval('<%= @exam_without_results.to_json %>')

              },
              {
                name: 'Total Exams',
                data: eval('<%= @exams_per_month.to_json %>')

              }
            ]
        });
    });

    function loadClassCourses(obj){
      classId = obj.value;
      courses = classCourses[classId];
      options = "";
      for (var courseId in courses){
        courseName = courses[courseId]
        options += "<option value=" + courseId + ">" + courseName + "</option>";
      }
      document.getElementById("course").innerHTML = options;
    }

    function populateDropDowns(){
      classRoom = document.getElementById("class_room");
      examType = document.getElementById("exam_type");
      course = document.getElementById("course");
      year = document.getElementById("year");

      classRoomOptions = classRoom.getElementsByTagName('option');
      examTypeOptions = examType.getElementsByTagName('option');
      courseOptions = course.getElementsByTagName('option');
      yearOptions = year.getElementsByTagName('option');
 
      firstExamClassRoomId = parseInt(<%= @first_exam_class_room %>);
      firstExamTypeId = parseInt(<%= @first_exam_type %>);
      firstExamCourseId = parseInt(<%= @first_exam_course %>);
      firstExamYear = parseInt(<%= @first_exam_year %>);

      for (i=0; i<= classRoomOptions.length - 1; i++){
        classRoomId = parseInt(classRoomOptions[i].getAttribute('value'));
        if (classRoomId == firstExamClassRoomId){
          classRoomOptions[i].setAttribute("selected", 'selected');
          loadClassCourses(classRoomOptions[i])
        }
      }

      for (x=0; x<= examTypeOptions.length - 1; x++){
        examTypeId = parseInt(examTypeOptions[x].getAttribute('value'));
        if (examTypeId == firstExamTypeId){
          examTypeOptions[x].setAttribute("selected", 'selected')
        }
      }

      for (y=0; y<= courseOptions.length - 1; y++){
        courseId = parseInt(courseOptions[y].getAttribute('value'));
        if (courseId == firstExamCourseId){
          courseOptions[y].setAttribute("selected", 'selected')
        }
      }

      for (z=0; z<= yearOptions.length - 1; z++){
        yearId = parseInt(yearOptions[z].getAttribute('value'));
        if (yearId == firstExamYear){
          yearOptions[z].setAttribute("selected", 'selected')
        }
      }
    }

    function plotGraph(){
        classRoomId = document.getElementById('class_room').value;
        examTypeId = document.getElementById('exam_type').value;
        courseId = document.getElementById('course').value;
        year = document.getElementById('year').value;

        jQuery.ajax({
          type: "POST",
          url: "/examination/plot_graph",
          data: "class_room_id=" + classRoomId + "&exam_type_id=" + examTypeId + "&course_id=" + courseId + "&year=" + year,
          success: function(results){
            results = eval('(' + results + ')')
            examsPerMonth = results['exams_per_month'];
            examsWithResults = results['exams_with_results'];
            examsWithoutResults = results['exams_without_results'];
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Exam Statistics'
                },
                subtitle: {
                    text: 'Based on the above parameters'
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Total'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px; font-weight:bold;">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};text-align:left; padding:3px;">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                  {
                    name: 'Exams With Results',
                    data: examsWithResults

                  },
                  {
                    name: 'Exams Without Results',
                    data: examsWithoutResults

                  },
                  {
                    name: 'Total Exams',
                    data: examsPerMonth

                  }
                ]
            });

          }

      });
    }
    </script>
    <style>
      #filter-graph-form fieldset {
        border: 1px solid gray;
        padding: 0px;
        width: 98.7%;
      }
      #filter-graph-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
      }
      #filter-graph-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 140px;
        padding: 3px;
        font-size: 14px;
      }
      
     #class_room, #exam_type, #course{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        min-width: 167px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #year{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body onload="populateDropDowns();">

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/student/examination_results_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/examination/index" class="active-tab">Examinations</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/examination/new_exam_type">Add Exam Type</a></li>
            <li><a href="/examination/edit_exam_type">Edit Exam Type</a></li>
            <li><a href="/examination/void_exam_type">Void Exam Type</a></li>
            <li><a href="/examination/assign_exam">Assign Exam</a></li>
            <li><a href="/examination/edit_exam_assignment">Edit Exam Assignment</a></li>
            <li><a href="/examination/void_exam">Void Exam</a></li>
            <li><a href="/examination/capture_exam_results">Capture Exam Results</a></li>
            <li><a href="/examination/edit_exam_results">Edit Exam Results</a></li>
            <li><a href="/examination/void_exam_results">Void Exam Results</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Table design</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <form id="filter-graph-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table>
                      <tr>
                        <td style="width:3.5em; text-align: left;"><span>Class</span></td>
                        <td><%= select_tag("class_room", options_for_select(@class_rooms), {:onchange=>"loadClassCourses(this);"})%></td>

                        <td style="text-align: left;"><span>Exam Type</span></td>
                        <td><%= select_tag("exam_type", options_for_select(@exam_types))%></td>

                        <td style="text-align: left;"><span>Course</span></td>
                        <td><%= select_tag("course", options_for_select(@courses))%></td>

                        <td style="text-align: left;"><span>Year</span></td>
                        <td><%= select_tag("year", options_for_select(@years))%></td>
                        <td><a onclick="plotGraph();" class="button round blue image-right ic-search text-upper">Plot</a></td>

                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>
              <div id="container">
              </div>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->
          
        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

  </body>
</html>