<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>

    <style>
      .start-date, .end-date{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 20px;
        line-height: 1.22857;
        padding: 6px 12px;
        min-width: 167px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
      a{
        cursor: pointer;
      }
    </style>
    
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/class_room/index">Class management</a></li><li><a href="/teacher/manage_teachers_menu">Manage Lecturers/teachers</a></li><li><a href="/examination_type/manage_exam_type_menu">Exam Type Management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/report/reports_generator_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/report/reports_generator_menu" class="active-tab">Reports</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Select Report</h3>
          <ul>
            <li><a href="/report/students_per_semester_report">Students per semester</a></li>
            <li><a href="/report/students_per_year_report">Students per year Report</a></li>
            <li><a href="/report/students_per_class_report">Students per class Report </a></li>
            <li><a href="/report/courses_report">Courses Report</a></li>
            <li><a href="/report/courses_per_class_report">Courses per class Report</a></li>
            <li><a href="/report/teachers_report">Teachers Report</a></li>
            <li><a href="/report/teachers_per_subjects_report">Teacher vs subjects Report</a></li>
            <li><a href="/report/results_per_class_report">Results per class Report</a></li>
            <li><a href="/report/subject_pass_rate_report">Subject pass rate report</a></li>
            <!-- <li><a href="/report/employees_report">Employees Report</a></li> -->
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="half-size-column fl" style="width:34%;">

            <div class="content-module">

              <div class="content-module-heading cf">

                <h3 class="fl">Employees report</h3>
                <span class="fr expand-collapse-text">Click to collapse</span>
                <span class="fr expand-collapse-text initial-expand">Click to expand</span>

              </div> <!-- end content-module-heading -->


              <div class="content-module-main">

                <table>
                  <tr>
                    <td class="custom-date-inputs" style=" text-align: left; font-size: 1.2em; width: 5em;">Start Date</td>
                    <td class="custom-date-inputs"> <input style="text-align:center;" type="text"  id="simple-input" class="round start-date date-picker" /></td>
                  </tr>
                  <tr>
                    <td class="custom-date-inputs" style="text-align: left; font-size: 1.2em;;">End Date</td>
                    <td class="custom-date-inputs" style="text-align:left;">
                      <input style="text-align:center;" type="text"  id="simple-input" class="round end-date date-picker" />
                    </td>
                  </tr>
                </table>

                <div class="stripe-separator"><!-- --></div>
                <span style="margin-left:41%; position: relative;">
                  <a class="button round blue image-right ic-right-arrow text-upper">Apply</a>
                </span>

              </div> <!-- end content-module-main -->

            </div> <!-- end content-module -->

          </div> <!--end half-size-column-->

          <div class="half-size-column fr" style="width:65%;">

            <div class="content-module">

              <div class="content-module-heading cf">

                <h3 class="fl">Report</h3>
                <span class="fr expand-collapse-text">Click to collapse</span>
                <span class="fr expand-collapse-text initial-expand">Click to expand</span>

              </div> <!-- end content-module-heading -->


              <div class="content-module-main cf">

              </div> <!-- end content-module-main -->

            </div> <!-- end content-module -->

          </div> <!--end half-size-column-->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div>



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.start-date').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today).strftime("%Y-%m-%d") %>']
      });

      $('.end-date').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 10.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>