<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>

    <script>
      
      function loadAttendanceData(){
        attendanceDate = $('.date-picker')[0].value;
        classRoomId = '<%= params[:class_room_id] %>';

        jQuery.ajax({
          type: "POST",
          url: "/attendance/load_attendance_data",
          data: "class_room_id=" + classRoomId + '&attendance_date=' + attendanceDate,
          success: function(result){
            result = eval('(' + result + ')');
            inputs = document.getElementsByTagName('input');

            for (var i=0; i<=inputs.length - 1; i++){
              if (inputs[i].type == 'radio'){
                inputs[i].checked = false;
              }
            }
            
            for (var studentId in result){
              status = result[studentId];
              if (status.trim() == "P"){
                presentInput = document.getElementById('student_' + studentId + '_P');
                presentInput.checked= true;
              }

              if (status.trim() == "A"){
                absentInput = document.getElementById('student_' + studentId + '_A');
                absentInput.checked= true;
              }
            }

          }

        });
      }

      //window.setInterval("loadAttendanceData();", 300)
    </script>
    <style>
      table th:first-child {
        border-style: none none none !important;
      }
      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/student/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index">Students</a></li>
          <li><a href="/parent/index">Parents</a></li>
          <li><a href="/teacher/index">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/course/index">Courses</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/semesters/index">Semester</a></li>
          <li><a href="/attendance/index" class="active-tab">Daily Attendance</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <% @class_rooms.each do |class_room| %>
                <li><a href="/attendance/class_room_register?class_room_id=<%= class_room.id %>"><%= class_room.name %></a></li>
            <% end %>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Daily Attendance</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <form action="/attendance/create_daily_attendance_register" method="POST">
                <table style="width:52%; float: right;">
                  <tr>
                    <td style="text-align: left; width:8em; font-size: 14pt;"><span>Attendance Date</span></td>
                    <td style="text-align:center; font-size: 14pt;">
                      <input style="width: 200px; line-height: 0.2em; text-align: center;"type="text" name="attendance_date" value='<%=  Date.today.strftime("%Y-%m-%d") %>' id="simple-input" class="round default-width-input date-picker" />
                    </td>
                    <td>
                      <a onclick="loadAttendanceData();" class="button round blue image-right ic-right-arrow text-upper">Show</a>
                    </td>
                  </tr>
                </table><br />
              <table>
                <thead>
                  <tr>
                    <th style="width:10%; font-weight: bold;">#</th>
                    <th style="text-align: center;">Student Name</th>
                    <th style="width:15%; text-align: center;">Present?</th>
                    <th style="width:15%;">Absent?</th>
                  </tr>
                </thead>
                <tbody>
                  <% count = 0 %>
                  <% (@students || []).each do |student|%>
                      <%
                        count += 1
                        student_name = student.fname.capitalize.to_s + ' ' + student.lname.capitalize.to_s
                      %>
                      <tr>
                        <td style="font-weight: bold;"><%= count %></td>
                        <td style="text-align:center;"><span><%= student_name %></span></td>
                        <td style="text-align: center;"><input type="radio" name="student_<%= student.id%>" value="P" id="student_<%= student.id %>_P"/></td>
                        <td><input type="radio" name="student_<%= student.id%>" value="A" id="student_<%= student.id %>_A"/></td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="stripe-separator"><!--  --></div>
              <%= hidden_field_tag("class_room_id", params[:class_room_id]) %>
              <input type="submit" value="Submit" class="round blue ic-right-arrow" style="" />

              </form>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
            view : 'years',
            direction: ['<%=  (Date.today - 5.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>