<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Payments Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function validateAmount(){
        amountInput = document.getElementById('amount');
        amount = parseInt(amountInput.value).toString();
        console.log(amount)
        if (amount == 'NaN'){
          amountInput.value = '';
        }
        else{
          amountInput.value = amount;
        }
      }

      function selectCurrentSemester(){
<% unless @current_semester_id.blank? %>
      currentSemesterId='<%=  @current_semester_id.to_i %>'
      options = document.getElementById('semester').getElementsByTagName('option');
      for (var i=0; i<=options.length - 1; i++){
        if (options[i].value == currentSemesterId){
          options[i].selected = true;
        }
      }
<% end %>
  }

  window.setTimeout("selectCurrentSemester();", 100);

  function confirmSkip(){
    jQuery.confirm({
      title:"Skip Payments",
      text:"Are you really really sure you want to skip this process? But you can do it later",
      confirm: function() {
        window.location="/student/my_page?student_id=<%= params[:student_id] %>"
      },
      cancel: function() {

      },
      confirmButton: "Yes I am",
      cancelButton: "No"
    });
  }
  
    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
        font-size: 8.99pt;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #payment_type input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        width: 187px;
      }

      input[type="submit"] {
        margin-left: 31%;
      }

      #payment, #semester {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        text-align: center;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 199px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #dop{
        width: 191px !important;
        text-align: center;
      }

      .red{
        background-color: #EE0000;
        color:white;
        font-weight: bold;
      }

      .red:hover{
        color:white;
        background-color: #CD0000;
      }
      
      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>    
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/payments/payments_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/payments/payments_management_menu" class="active-tab">Payments</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/payments/add_payment">Add Payment</a></li>
            <li><a href="/payments/edit_payment">Edit Payment</a></li>
            <li><a href="/payments/void_payments">Void Payment</a></li>
            <li><a href="/payments/view_payments">View Payment</a></li>
            <li><a href="/payment_types/payment_types_menu">Set Payment Types</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="half-size-column fl" style="width:67%;">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">New Payment</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main">
                  <% if flash[:notice] %>
                    <div class="confirmation-box round">
                      <%= flash[:notice] %>
                    </div>
                  <% end %>
                  <% if flash[:error] %>
                    <div class="error-box round">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                  <form id="payment_type" class="autoform" action="/payments/create_student_payment" method="POST">
                    <div>
                      <label for="payment" style="width:101px;">Payment Type</label>
                      <%= select_tag("payment", options_for_select(@payment_types), {:name => "payment_type", :class => "select required"}) %>
                    </div>

                    <div>
                      <label for="semester" style="width:101px;">Semester</label>
                      <%= select_tag("semester", options_for_select(@semesters), {:class => "select required"}) %>
                    </div>

                    <div>
                      <label for="amount" style="width:101px;">Amount</label><input type="text" name="amount" id="amount" class="text required" onkeyup="validateAmount(this)"/>
                    </div>

                    <div>
                      <label for="dop" style="width:101px;">Date Paid</label><input type="text" name="payment_date" id="dop" class="text required date-picker" value="<%= Date.today.strftime("%Y-%m-%d") %>"/>
                    </div>
                    <div class="stripe-separator"><!--  --></div>
                    <%= hidden_field_tag("student_id", params[:student_id]) %>
                    <a onclick="confirmSkip();" class="button round red image-right ic-right-arrow text-upper">Skip</a>
                    <input type="submit" value="Submit" class="round blue ic-right-arrow" />
                  </form>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>
            <div class="half-size-column fr" style="width:32%">

              <div class="content-module">

                <div class="content-module-heading cf">

                  <h3 class="fl">Previous Payments</h3>
                  <span class="fr expand-collapse-text">Click to collapse</span>
                  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

                </div> <!-- end content-module-heading -->


                <div class="content-module-main cf">
                  <span style="font-size: 0.9em; font-weight: bold;">Name</span>:
                  <span style="font-size:0.9em;">
                    <a href="#"><%= @student.fname.to_s + ' ' + @student.lname.to_s + ' (' + @student.gender.first.capitalize.to_s + ')' %></a>
                  </span><br />
                  <span style="font-size: 0.9em; font-weight: bold;">Class:</span>
                  <span style="font-size:0.9em;">
                    <a href="#"><%= @student.current_class %></a>
                  </span><br />

                  <% if @payments_hash.blank? %>
                    <table>
                      <tr>
                        <th colspan="2" style="font-weight: bold;">No Previous Payments</th>
                      </tr>
                    </table>
                  <% end %>

                  <% @payments_hash.each do |payment_type_id, values| %>
                    <table>
                      <tr>
                        <th colspan="2" style="font-weight: bold;"><%= @payment_types_hash[payment_type_id].to_s + ' ('+  number_to_currency(values["amount_required"], :unit => 'MK').to_s + ')' %></th>
                      </tr>
                      <tr>
                        <td style="text-align: left;">Previous Payments</td>
                        <td style="text-align: right; font-weight: bold;"><%= number_to_currency(values["amount_paid"], :unit => 'MK') %></td>
                      </tr>
                      <tr>
                        <td style="text-align: left;">Balance</td>
                        <td style="text-align: right; font-weight: bold;"><%= number_to_currency(values["balance"], :unit => 'MK') %></td>
                      </tr>
                      <tr>
                        <td style="text-align: left;">Latest Date Paid</td>
                        <td style="text-align: right; font-weight: bold;"><%= values["latest_date_paid"] %></td>
                      </tr>
                    </table>
                  <% end %>
                </div> <!-- end content-module-main -->

              </div> <!-- end content-module -->

            </div>

          </div> <!-- end content-module -->




        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 100.years).strftime("%Y-%m-%d") %>', '<%=  Date.today.strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>