<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function loadStudentPerformanceData(){
        studentID = document.getElementById('dropdown-actions').value;

        jQuery.ajax({
          type: "POST",
          url: "/parent/render_student_performance_summary",
          data: "student_id=" + studentID,
          success: function(results){
            results = eval("(" + results  + ")");

            html = "";
            tbody = document.getElementById("student_performance");
            examsHash = results["exams_hash"];
            classRoomHash = results["class_room_hash"];
            
            for (var class_room_id in examsHash){
              html+="<tr>";
              html+="<th colspan='4' style='text-align:center; border-bottom: 2px solid white !important; background-color: #006dcc;'>" + classRoomHash[class_room_id] + "</th>";
              html+="</tr>";

              html+="<tr>";
              html+="<th style='width:20%;'>Exam Date</th>";
              html+="<th style='padding:6px; text-align: center;'>Course</th>";
              html+="<th style='padding:6px; text-align: center;'>Exam Type</th>";
              html+="<th style='padding:6px; width:24%;'>Exam Results</th>";
              html+="</tr>";
              
              for (var examID in examsHash[class_room_id]){
                exam_type = examsHash[class_room_id][examID]["exam_type"];
                console.log(examsHash[class_room_id][examID][5])
                course = examsHash[class_room_id][examID]["course"];
                exam_date = examsHash[class_room_id][examID]["exam_date"];
                exam_results = examsHash[class_room_id][examID]["exam_results"];
                status = examsHash[class_room_id][examID]["status"];

                html+="<tr>";
                html+="<td>" + exam_date + "</td>";
                html+="<td style='text-align: center;'>" + course +  "</td>";
                html+="<td style='text-align: center;'>" + exam_type +  "</td>";
                html+="<td style='text-align: center;'><a class='badge' href='#'>" + exam_results +  "</a></td>";
                
                html+="</tr>";
              }              
            }

            tbody.innerHTML = html
          }

        });
      }
    </script>

    <style type="text/css">
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 215px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      #dropdown-actions {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 12px !important;
        font-weight: bold;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 150px;
        padding: 0px 7px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      form.autoform .msg.icon {
        font-size: 10pt;
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }



      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }


      a{
        cursor: pointer;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/parent/guardians_page" class="active-tab dashboard-tab"><%= @guardian.name %></a></li>
          <li><a href="/parent/guardians_profile">My Profile</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/parent/student_performance_summary">Performance</a></li>
            <li><a href="/parent/student_payments_summary">Payments</a></li>
            <li><a href="/parent/student_punishments_summary">Punishments</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">My Students Performance Summary</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>My Students</legend>
                  <div style="margin-left:2%;">
                    <table style="width: 40%; float: right;">
                      <tbody>
                        <tr>
                          <td style="text-align:right; font-size: 1.2em; padding-right: 5px; width: 30%;">Select Student</td>
                          <td style="width:60%;">
                            <select name="student" id="dropdown-actions" class="student" style="width:80%;">
                              <option value="">Select Here</option>
                              <% @students.each do |student| %>
                                <option value="<%= student.student_id %>"><%= "#{student.name} (#{student.gender.first.capitalize})" %></option>
                              <% end %>
                            </select>
                          </td>
                          <td style="padding-right:5px;">
                            <a onclick="loadStudentPerformanceData();" class="button round blue image-right ic-search text-upper">Search</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </form>

              <table>
                <tbody id="student_performance">

                </tbody>
              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>

  </body>
</html>