<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      
    </script>

    <style type="text/css">
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 215px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      #dropdown-actions {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 12px !important;
        font-weight: bold;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        width: 150px;
        padding: 0px 7px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      form.autoform .msg.icon {
        font-size: 10pt;
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }



      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }


      a{
        cursor: pointer;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      .student-name{
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
      }

      .gender, .dob{
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
      }
      
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/parent/guardians_page" class="active-tab dashboard-tab"><%= @guardian.name %></a></li>
          <li><a href="/parent/guardians_profile">My Profile</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/parent/student_performance_summary">Performance</a></li>
            <li><a href="/parent/student_payments_summary">Payments</a></li>
            <li><a href="/parent/student_punishments_summary">Punishments</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Exam Notifications</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>New Exams Notifications</legend>
                  <div style="margin-left:2%;">

                    <table style="width:98%;">
                      <% @notifications_hash.each do |student_id, data| %>
                        <thead>
                          <tr>
                            <% student = Student.find(student_id) %>
                            <th colspan="3"> Student Name:
                              <span class="student-name"><%= student.name %></span>
                              Gender: <span class="gender"><%= student.gender.capitalize %></span>
                              Date of Birth: <span class="dob"><%= student.dob.to_date.strftime("%d/%b/%Y") rescue student.dob %></span>
                              </th>
                          </tr>
                          <tr>
                            <th style="width:20%;">Examination Type</th>
                            <th style="text-align: center;">Course</th>
                            <th style="width:30%;">Examination Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% data.each do |exam_id, values| %>
                            <tr>
                              <td><%= values["exam_type"] %></td>
                              <td style="text-align: center;"><%= values["course"] %></td>
                              <td><%= values["exam_date"] %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      <% end %>
                    </table>

                    <a style="min-width: 100px; text-align: center; font-weight: bold;" href="/parent/student_performance_summary" class="button round blue text-upper">Seen</a><br /><br />
                  </div>
                </fieldset>
              </form>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>

  </body>
</html>