<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student Payments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
      table {
        width: 100%;
        margin-bottom: 1.25em; /* 20/16 */ }

      table th {
        background-color: #5d6677;
        color: white;
        text-transform: uppercase;
        padding: 0.75em 0 0.75em 0.75em; /* 15/12 */
        border-left: 1px solid #747c8a;
        font-size: 9pt;
      }

      table tbody td {
        padding: 0.433em 0 0.433em 0.25em; /* 10/12 15/12 */
        border-left: 1px solid white;
        border-bottom: 1px solid #f8f9fa;
      }

      /* Alternate table row */
      table tbody tr:nth-child(odd) { background-color: #f8f9fa; }

      /* Push the first cell to the right so it doesn't stick to the table border */
      table td:first-child, table th:first-child {
        width: 4em /* 48/12 */;
        text-align: center;
        padding: 0;
        border: none;
        border-bottom: 1px solid #f8f9fa;
      }

      table td:last-child, table th:last-child {
        width: 7em; /* 84/12 */
        text-align: center;
        padding: 0;
      }

      table td.table-footer {
        text-align: left;
        vertical-align: middle;
        padding-top: 1.25em /* 15/12 */;
        border: none;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      table tr td span{
        position: relative;
        margin-left: 20px;

      }

    </style>
  </head>
  <body>
    <div style="padding-left: 10px; padding-top: 10px; width: 98.5%;">
      <% if @punishment_hash.blank? %>
        <h3>No Data</h3>
      <% else %>
        <table id="punishments_data">
          <thead>
            <tr>
              <th style="width:20%;">Punishment Type</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Details</th>
              <th>Completed?</th>
            </tr>
          </thead>
          <tbody id="my_punishments">
            <% @punishment_hash.each do |punishment_id, values| %>
              <tr>
                <td><%= values["punishment_type"] %></td>
                <td><span><%= values["start_date"] %></span></td>
                <td><span><%= values["end_date"] %></span></td>
                <td><span><%= values["details"] %></span></td>
                <td><%= values["completed"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </body>
</html>