<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Student Punishments Summary</title>
  </head>
  <body>
    <% if @punishment_hash.blank? %>
      <h3>No Data</h3>
    <% else %>
      <table id="punishments_data">
        <thead>
          <tr>
            <th style="width:20%;">Punishment Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Details</th>
            <th>Completed?</th>
          </tr>
        </thead>
        <tbody id="my_punishments">
          <% @punishment_hash.each do |punishment_id, values| %>
            <tr>
              <td><%= values["punishment_type"] %></td>
              <td><%= values["start_date"] %></td>
              <td><%= values["end_date"] %></td>
              <td><%= values["details"] %></td>
              <td><%= values["completed"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </body>
</html>