<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Students Without Balances</title>
    <style type="text/css">
      table {
        width: 100%;
        margin-bottom: 1.25em; /* 20/16 */ }

      table th {
        background-color: #5d6677;
        color: white;
        text-transform: uppercase;
        padding: 0.75em 0 0.75em 0.75em; /* 15/12 */
        border-left: 1px solid #747c8a;
        font-size: 9pt;
      }

      table tbody td {
        padding: 0.433em 0 0.433em 0.25em; /* 10/12 15/12 */
        border-left: 1px solid white;
        border-bottom: 1px solid #f8f9fa;
      }

      /* Alternate table row */
      table tbody tr:nth-child(odd) { background-color: #f8f9fa; }

      /* Push the first cell to the right so it doesn't stick to the table border */
      table td:first-child, table th:first-child {
        width: 4em /* 48/12 */;
        text-align: center;
        padding: 0;
        border: none;
        border-bottom: 1px solid #f8f9fa;
      }

      table td:last-child, table th:last-child {
        width: 7em; /* 84/12 */
        text-align: center;
        padding: 0;
      }

      table td.table-footer {
        text-align: left;
        vertical-align: middle;
        padding-top: 1.25em /* 15/12 */;
        border: none;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      table tr td span{
        position: relative;
        margin-left: 20px;

      }

    </style>
  </head>
  <body>
    <div style="margin-left:2%;">
      Report Type: <b><i>Students With Balances</i></b><br/>
      Payment Type: <b><i><%= @payment_type_name %></i></b><br/>
      Class: <b><i><%= @class_name %></i></b><br/>
      Semester Details: <b><i><%=  @formatted_semester_details %></i></b><br/>
      Total Students: <b><i><%=  @report_hash.keys.count %></i></b><br/>
      <p>Date Generated: <b><i><%= Date.today.strftime("%d/%b/%Y") %></i></b></p>
      
      <table style="width:98%;">
        <thead>
          <tr>
            <th style="width:200px;">Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Amount Paid</th>
          </tr>
        </thead>
        <tbody>
          <% @report_hash.each do |student_id, values| %>
            <tr style="line-height: 1em;">
              <td style="text-align: left;"><span style="padding-left:10px;"><%= values["name"] %></span></td>
              <td style="text-align: center;"><%= values["email"] %></td>
              <td style="text-align: center;"><%= values["gender"] %></td>
              <td style="text-align: center;"><%= values["dob"] %></td>
              <td><%= values["total_amount_paid"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </body>
</html>