<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Teachers Per Subjects Report</title>
    <style type="text/css">
      table {
        width: 100%;
        margin-bottom: 1.25em; /* 20/16 */ }

      table th {
        background-color: #5d6677;
        color: white;
        text-transform: uppercase;
        padding: 0.75em 0 0.75em 0.75em; /* 15/12 */
        border-left: 1px solid #747c8a;
        font-size: 9pt;
      }

      table tbody td {
        padding: 0.433em 0 0.433em 0.25em; /* 10/12 15/12 */
        border-left: 1px solid white;
        border-bottom: 1px solid #f8f9fa;
      }

      /* Alternate table row */
      table tbody tr:nth-child(odd) { background-color: #f8f9fa; }

      /* Push the first cell to the right so it doesn't stick to the table border */
      table td:first-child, table th:first-child {
        width: 4em /* 48/12 */;
        text-align: center;
        padding: 0;
        border: none;
        border-bottom: 1px solid #f8f9fa;
      }

      table td:last-child, table th:last-child {
        width: 7em; /* 84/12 */
        text-align: center;
        padding: 0;
      }

      table td.table-footer {
        text-align: left;
        vertical-align: middle;
        padding-top: 1.25em /* 15/12 */;
        border: none;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      table tr td span{
        position: relative;
        margin-left: 20px;

      }

    </style>
  </head>
  <body>
    <div style="margin-left:2%;">
      Report Type: <b><i>Teachers Per Subjects Report</i></b><br/>
      Teacher Details: <b><i><%= @teacher_details %></i></b><br/>
      <p>Date Generated: <b><i><%= Date.today.strftime("%d/%b/%Y") %></i></b></p>
      <br/>
      <table style="width:98%;">
        <thead>
          <tr>
            <th colspan='5'>Teacher-Class-Course Info</th>
          </tr>
        </thead>
        <tbody>
          <% @report_hash.each do |teacher_id, values| %>
            <tr style='background-color:#2069b4; color:white; font-weight:bold;'>
              <td colspan='5' style='text-align:left; padding-left:30px;'><%= Teacher.find(teacher_id).name_and_gender %></td>
            </tr>
            <% values.each do |class_room_id, courses| %>
              <tr style='background-color:gray;'>
                <td colspan='5' style='color:white; font-weight:bold;'><%= ClassRoom.find(class_room_id).name %></td>
                <% courses.each do |key, course_data| %>
                <tr>
                  <% course_data.each do |count, data| %>
                    <% data.each do |course| %>
                      <td style='padding: 0.833em 0 0.833em 1.25em; min-width:8em;'><%= course %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </body>
</html>