<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("handsontable.full") %>
    <%= stylesheet_link_tag("handsontable.full") %>
    <%= stylesheet_link_tag("style") %>

    <style type="text/css">
      table { width: 80%; margin-bottom: 1.25em; /* 20/16 */ }

      table th {
        background-color: #5d6677;
        color: white;
        text-transform: uppercase;
        border-left: inherit;
      }

      table tbody td {
        padding: inherit; /* 10/12 15/12 */
        border-left: inherit;
        border-bottom: inherit;
      }

      table th:first-child {
        min-width: 150px;
      }

      table td:first-child, table th:first-child {

        text-align: inherit;
        padding: inherit;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }

      table td:last-child, table th:last-child {
        width: 7em; /* 84/12 */
        text-align: center;
        padding: 0;
      }

    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_class_attendance?class_room_id=<%= params[:class_room_id] %>">Add Class Attendance</a></li>
            <li><a href="/class_room/edit_class_attendance?class_room_id=<%= params[:class_room_id] %>">Edit Class Attendance</a></li>
            <li><a href="/class_room/view_class_attendance?class_room_id=<%= params[:class_room_id] %>">View Class Attendance</a></li>
            <li><a href="/class_room/void_class_attendance?class_room_id=<%= params[:class_room_id] %>">Void Class Attendance</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Add Attendance Data</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <div id="students">

              </div><br />

              <a style="font-size: 10pt;" class="button round blue image-right ic-right-arrow text-upper" onclick="saveData();">Save Data</a>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <script type="text/javascript">
      var today = '<%= @today %>';
      var todaysCol = 0;
      var maxRows = parseInt('<%= @students.count %>');
    </script>

    <script data-jsfiddle="students">
      var data = eval('<%= @data %>');

      function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        if (value.trim() == today.trim()){
          todaysCol = col;
        }
        td.style.fontWeight = 'bold';
        td.style.color = '#222';
        td.style.background = '#eee';
        td.style.padding = '2px 4px';
        td.style.textAlign = 'center';
        
        cellProperties.readOnly = true;
        
      }

      function firstColumnRenderer(instance, td, row, col, prop, value, cellProperties){
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.color = '#222';
        if (col != 1){
          td.style.textAlign = 'center';
        }
        
        td.style.background = '#eee';
        cellProperties.readOnly = true;
        
      }
      
      function readOnlyRenderer(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.background = '#EEE';
        cellProperties.readOnly = true;
      }

      // maps function to lookup string
      Handsontable.renderers.registerRenderer('readOnlyRenderer', readOnlyRenderer);
      Handsontable.renderers.registerRenderer('firstColumnRenderer', firstColumnRenderer);

      var container = document.getElementById('students');

      var studentAttendance = new Handsontable(container,
      {
        data: data,
        minSpareRows: 3,
        columnSorting: true,
        autoWrapRow: true,
        maxRows: 3,
        columns: [
          {
            data: 0
          },
          {
            data: 1
          },
          {
            data: 2,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 3,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 4,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 5,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 6,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          }
        ],
        onSelection: function (row, col, row2, col2) {
          var meta = this.getCellMeta(row2, col2);

          if (meta.readOnly) {
            this.updateSettings({fillHandle: false});
          }
          else {
            this.updateSettings({fillHandle: true});
          }
        },
        cells: function (row, col, prop) {
          if (col == 0 || col == 1){
            var cellProperties = {};
            cellProperties.renderer = "firstColumnRenderer";
          }

          if (row === 0) {
            var cellProperties = {};
            cellProperties.renderer = firstRowRenderer; // uses function directly
          }
          else{
            if (col > todaysCol){
              var cellProperties = {};
              cellProperties.renderer = "readOnlyRenderer";
            }

          }

          return cellProperties;
        }
      });

      window.setInterval(function(){
        //document.getElementsByTagName("col")[0].style.width = '50px';
      }, 10)
      
    </script>
  </body>
</html>