<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("handsontable.full") %>
    <%= stylesheet_link_tag("handsontable.full") %>
    <%= stylesheet_link_tag("style") %>

    <script type="text/javascript">
      var classRoomId = '<%= params[:class_room_id] %>';

      function updateWeekValue(obj){
        year = document.getElementsByClassName("year")[0].value;
        month = obj.value

        jQuery.ajax({
          type: "POST",
          url: "/class_room/get_weekly_dates",
          data: "year=" + year + "&month=" + month,
          success: function(results){
            html = ""
            for (i=0; i<=results.length - 1; i++){
              week_dates = results[i];
              first_week_date = week_dates[0]
              last_week_date = week_dates[week_dates.length - 1]
              date_range = first_week_date + ' to ' + last_week_date
              html+="<option value='" + first_week_date + '|' + last_week_date + "'>" + date_range + " </option>"
            }
            
            document.getElementsByClassName("week")[0].innerHTML = html;
          }
        });
      }

      function loadClassAttendanceData(){
        date_range = document.getElementsByClassName("week")[0].value
        jQuery.ajax({
          type: "POST",
          url: "/class_room/search_class_attendance_data",
          data: "class_room_id=" + classRoomId + "&date_range=" + date_range,
          success: function(results){
            data = results;
            document.getElementById('students').innerHTML = '';
            studentAttendance = new Handsontable(container,
            {
              data: data,
              minSpareRows: 0,
              columnSorting: true,
              autoWrapRow: true,

              columns: [
                {
                  data: 1
                },
                {
                  data: 2,
                  type: 'dropdown',
                  source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
                },
                {
                  data: 3,
                  type: 'dropdown',
                  source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
                },
                {
                  data: 4,
                  type: 'dropdown',
                  source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
                },
                {
                  data: 5,
                  type: 'dropdown',
                  source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
                },
                {
                  data: 6,
                  type: 'dropdown',
                  source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
                }
                ,
                {
                  data: 7,
                  type: 'dropdown',
                  source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
                }
              ],
              onSelection: function (row, col, row2, col2) {
                var meta = this.getCellMeta(row2, col2);

                if (meta.readOnly) {
                  this.updateSettings({fillHandle: false});
                }
                else {
                  this.updateSettings({fillHandle: true});
                }
              },
              cells: function (row, col, prop) {
                if (col == 0 || col == 1){
                  var cellProperties = {};
                  cellProperties.renderer = "firstColumnRenderer";
                }

                if (row === 0) {
                  var cellProperties = {};
                  cellProperties.renderer = firstRowRenderer; // uses function directly
                }
                else{
                  if (col > todaysCol){
                    var cellProperties = {};
                    cellProperties.renderer = "readOnlyRenderer";
                  }

                }

                return cellProperties;
              }
            });
          }
        });
      }
      
    </script>

    <style type="text/css">
      table { width: 80%; margin-bottom: 1.25em; /* 20/16 */ }

      table th {
        background-color: #5d6677;
        color: white;
        text-transform: uppercase;
        border-left: inherit;
      }

      table tbody td {
        padding: inherit; /* 10/12 15/12 */
        border-left: inherit;
        border-bottom: inherit;
      }

      table th:first-child {
        min-width: 150px;
      }

      table td:first-child, table th:first-child {

        text-align: inherit;
        padding: inherit;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }

      table td:last-child, table th:last-child {
        width: 7em; /* 84/12 */
        text-align: center;
        padding: 0;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      #dropdown-actions{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        min-width: 167px;
        padding: 6px 12px;
        text-align: center;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #search-student-form table td:first-child {
        border-style: none none none !important;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_class_attendance?class_room_id=<%= params[:class_room_id] %>">Add Class Attendance</a></li>
            <li><a href="/class_room/edit_class_attendance?class_room_id=<%= params[:class_room_id] %>">Edit Class Attendance</a></li>
            <li><a href="/class_room/view_class_attendance?class_room_id=<%= params[:class_room_id] %>">View Class Attendance</a></li>
            <li><a href="/class_room/void_class_attendance?class_room_id=<%= params[:class_room_id] %>">Void Class Attendance</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Add Attendance Data</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table style="width: 45%; float: right;">
                      <tr>
                        <td style="text-align:right; font-size: 1.2em; padding-right: 5px;">Year</td>
                        <td style="">
                          <select name="year" id="dropdown-actions" class="year">
                            <% @years.each do |year| %>
                              <option value="<%= year %>"><%= year %></option>
                            <% end %>
                          </select>
                        </td>
                        <td style="text-align:right; font-size: 1.2em; padding-left: 20px; padding-right: 5px;">Month</td>
                        <td>
                          <select name="month" id="dropdown-actions" class="month" onchange="updateWeekValue(this)">
                            <% @months.each do |month| %>
                              <option value="<%=  month %>"><%= month %></option>
                            <% end %>
                          </select>
                        </td>
                        <td style="text-align:right; font-size: 1.2em; padding-left: 20px; padding-right: 5px;">Week</td>
                        <td>
                          <select name="week" id="dropdown-actions" class="week">
                          </select>
                        </td>
                        <td>
                          <a onclick="loadClassAttendanceData();" class="button round blue image-right ic-search text-upper">Search</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>

              <div id="students">

              </div><br />

              <a style="font-size: 10pt;" class="button round blue image-right ic-right-arrow text-upper" onclick="saveData();">Save Data</a>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <script type="text/javascript">
      var today = '<%= @today %>';
      var todaysCol = 0;
      var maxRows = parseInt('<%= @students.count %>');

      function saveData(){
        attendanceData = studentAttendance.getSourceData();
        console.log(attendanceData);

        jQuery.ajax({
          type: "POST",
          url: "/class_room/save_attendance_data",
          data: {attendance_data: attendanceData},
          success: function(results){
            window.location = location.href;
          }
        });
        
      }
      
    </script>

    <script data-jsfiddle="students">
      var data = eval('<%= @data %>');

      function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        if (value.trim() == today.trim()){
          todaysCol = col;
        }
        td.style.fontWeight = 'bold';
        td.style.color = '#222';
        td.style.background = '#eee';
        td.style.padding = '2px 4px';
        td.style.textAlign = 'center';
        
        cellProperties.readOnly = true;
        
      }

      function firstColumnRenderer(instance, td, row, col, prop, value, cellProperties){
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.color = '#222';
        if (col != 1){
          td.style.textAlign = 'center';
        }
        
        td.style.background = '#eee';
        cellProperties.readOnly = true;
        
      }
      
      function readOnlyRenderer(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.background = '#EEE';
        cellProperties.readOnly = true;
      }

      // maps function to lookup string
      Handsontable.renderers.registerRenderer('readOnlyRenderer', readOnlyRenderer);
      Handsontable.renderers.registerRenderer('firstColumnRenderer', firstColumnRenderer);

      var container = document.getElementById('students');

      var studentAttendance = new Handsontable(container,
      {
        data: data,
        minSpareRows: 0,
        columnSorting: true,
        autoWrapRow: true,
 
        columns: [
          {
            data: 1
          },
          {
            data: 2,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 3,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 4,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 5,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          },
          {
            data: 6,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          }
          ,
          {
            data: 7,
            type: 'dropdown',
            source: ['Present', 'Absent', 'Sick', 'Leave', 'Late']
          }
        ],
        onSelection: function (row, col, row2, col2) {
          var meta = this.getCellMeta(row2, col2);

          if (meta.readOnly) {
            this.updateSettings({fillHandle: false});
          }
          else {
            this.updateSettings({fillHandle: true});
          }
        },
        cells: function (row, col, prop) {
          if (col == 0 || col == 1){
            var cellProperties = {};
            cellProperties.renderer = "firstColumnRenderer";
          }

          if (row === 0) {
            var cellProperties = {};
            cellProperties.renderer = firstRowRenderer; // uses function directly
          }
          else{
            if (col > todaysCol){
              var cellProperties = {};
              cellProperties.renderer = "readOnlyRenderer";
            }

          }

          return cellProperties;
        }
      });

      window.setInterval(function(){
        //document.getElementsByTagName("col")[0].style.width = '50px';
      }, 10)
      
    </script>
  </body>
</html>