<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script type="text/javascript">
      var classRoomID = '<%= params[:class_room_id] %>';

      function loadClassCourseTeachers(obj){
        courseId = obj.getAttribute("course_id");
        courseName = obj.getAttribute("course_name");
        jQuery.ajax({
          type: "POST",
          url: "/class_room/render_class_course_teachers",
          data: "course_id=" + courseId + "&class_room_id=" + classRoomID,
          success: function(results){
            table = "<table style='width:90%; margin-left:5%;'>";
            table+="<tr>";
            table+="<th style='min-width: 45%;'>Teacher's Name</th>";
            table+="<th>Gender</th>";
            table+="<th>Phone #</th>";
            table+="</tr>";

            for (var teacher_id in results){
              teacherName = results[teacher_id]["teacher_name"];
              gender = results[teacher_id]["gender"];
              if (gender == null)gender = '';
              phone = results[teacher_id]["phone"];
              if (phone == null)phone = '';

              table+="<tr style='background-color:white;'>";
              table+="<td>" + teacherName + "</td>";
              table+="<td>" + gender + "</td>";
              table+="<td>" + phone + "</td>";
              table+="</tr>";
            }

            table += "</table>";
            teachers = table;

            jQuery.confirm({
              title: courseName,
              text: teachers,
              confirm: function(button) {
              },
              cancel: function(button) {
              },
              confirmButton: "Done"
            });
          }});
      }

      function proceedtoTeacherSelection(){
        inputs = document.getElementsByTagName("input");
        courseIDs = []
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              if (inputs[i].hasAttribute("course_id")){
                courseID = inputs[i].getAttribute("course_id");
                courseIDs.push(courseID);
              }
            }
          }
        }
        if (courseIDs.length == 0 ){
          jQuery.confirm({
            title:"No Option Selected",
            text:"No option selected. Please select at least one option to continue.",
            confirm: function(button) {

            },
            cancel: function(button) {

            },
            confirmButton: "Okay",
            cancelButton: "No"
          });
        }
        else{
          window.location = "/class_room/select_class_course_teacher?class_room_id=" + classRoomID + "&course_ids=" + courseIDs;
        }
      }
      
    </script>
    <style type="text/css">
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      form.autoform input, select {
        font-size: 0.8em !important;
        font-weight: bold;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      #courses .badge{
        width: 85%;
        line-height: 2;
        cursor: pointer;
        font-weight: bold;
        font-size: 10pt;
      }

      .cancel{
        display: none;
      }

    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_class_course?class_room_id=<%= params[:class_room_id] %>">Add Class Course</a></li>
            <li><a href="/class_room/add_class_course_teacher?class_room_id=<%= params[:class_room_id] %>">Add Course Teacher</a></li>
            <li><a href="/class_room/edit_class_courses?class_room_id=<%= params[:class_room_id] %>">Edit Class Courses</a></li>
            <li><a href="/class_room/view_class_courses?class_room_id=<%= params[:class_room_id] %>">View Class Courses</a></li>
            <li><a href="/class_room/void_class_courses?class_room_id=<%= params[:class_room_id] %>">Void Class Courses</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Assign Courses To Teachers</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <h2>Select Courses to assign teachers</h2>
              <table id="courses">
                <thead>
                  <tr>
                    <th style="width: 100px;">&nbsp;</th>
                    <th>Course</th>
                    <th style="width: 100px;">Total Teachers</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td class="table-footer" colspan="3">
                      <a onclick="proceedtoTeacherSelection();" class="button round blue image-right ic-right-arrow text-upper" href="#" style="font-size: 10pt;">Continue</a>
                    </td>
                  </tr>
                </tfoot>
                <tbody>
                  <% @courses.each do |course| %>
                    <tr>
                      <td>
                        <input type="checkbox" course_id="<%= course.course_id %>"/>
                      </td>
                      <td><%= course.name %></td>
                      <td course_id="<%= course.course_id %>" course_name="<%= course.name %>" onmousedown="loadClassCourseTeachers(this);"><sup class="notice badge badge-info"><%= Course.total_teachers(params[:class_room_id], course.course_id) %></sup></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

  </body>
</html>