<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script type="text/javascript">
      var classRoomID = '<%= params[:class_room_id] %>';
      
      function assignEditCourses(obj){
        employeeID = obj.getAttribute("employee_id")
        window.location = "/class_room/assign_class_courses_to_teacher?class_room_id=" + classRoomID + "&employee_id=" + employeeID;
      }

      function loadSearchResults(){
        names = document.getElementById('name_search').value.split(/\W+/);
        firstName = names[0];
        lastName = names[1];
        if (typeof lastName == 'undefined'){
          lastName = '';
        }

        jQuery.ajax({
          type: "POST",
          url: "/class_room/class_room_teachers_search",
          data: "first_name=" + firstName + "&last_name=" + lastName + '&class_room_id=' + classRoomID,
          success: function(results){
            //results = eval("(" + results  + ")");
            html = "";
            tbody = document.getElementById("teachers");

            for (var teacher_id in results){
              firstName = results[teacher_id]["fname"];
              lastName = results[teacher_id]["lname"];
              gender = results[teacher_id]["gender"];
              phone = results[teacher_id]["phone"];
              if (phone == null) phone = '';
              email = results[teacher_id]["email"];
              if (email == null) email = '';

              html+="<tr>";
              html+="<td>" + firstName + "</td>";
              html+="<td style='text-align: center;'>" + lastName +  "</td>";
              html+="<td style='text-align: center;'>" + gender +  "</td>";
              html+="<td style='text-align: center;'><a href='#'>" + email +  "</a></td>";
              html+="<td style='text-align: center;'>" + phone +  "</td>";
              html+="<td><a employee_id='" + teacher_id + "' onclick='assignEditCourses(this)' href='#' class='button round blue image-right ic-right-arrow text-upper'>Assign/Edit Courses &nbsp;</a></td>";
              html+="</tr>";
            }

            tbody.innerHTML = html
          }

        });

      }
    </script>

    <style type="text/css">
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      form.autoform input, select {
        font-size: 0.8em !important;
        font-weight: bold;
      }

      .orange{
        background-color: #EEEE00 !important;
      }
      
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_new_teacher?class_room_id=<%= params[:class_room_id] %>">Add New Class Teacher</a></li>
            <li><a href="/class_room/assign_class_teachers?class_room_id=<%= params[:class_room_id] %>">Assign Class Teachers</a></li>
            <li><a href="/class_room/view_class_teachers?class_room_id=<%= params[:class_room_id] %>">View Class Teachers</a></li>
            <li><a href="/class_room/void_class_teachers?class_room_id=<%= params[:class_room_id] %>">Void Class Teacher</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Assign Class Teacher Courses</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table style="width: 45%; float: right;">
                      <tr>
                        <td style="font-size: 13pt;">Name</td>
                        <td style="width: 50px !important;"><input type="text" id="name_search"/></td>
                        <td style="width: 20px"><a onclick="loadSearchResults();" class="button round blue image-right ic-search text-upper">Search</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>
              <table>
                <thead>
                  <tr>
                    <th style="min-width: 15%;">First Name</th>
                    <th style="text-align: center;">Last Name</th>
                    <th style="text-align: center;">Gender</th>
                    <th style="text-align: center;">E-mail</th>
                    <th style="text-align: center;">Phone #</th>
                    <th style="min-width: 12%;">Action</th>
                  </tr>
                </thead>
                <tbody id="teachers">
                  <% @teachers.each do |teacher| %>
                    <tr>
                      <td><%=  teacher.fname %></td>
                      <td style="text-align: center;"><%= teacher.lname %></td>
                      <td style="text-align: center;"><%= teacher.gender %></td>
                      <td style="text-align: center;"><a href="#"><%= teacher.email %></a></td>
                      <td style="text-align: center;"><%= teacher.mobile %></td>
                      <td>
                        <a class="button round blue image-right ic-right-arrow text-upper" href="#" onclick="assignEditCourses(this)" employee_id="<%= teacher.employee_id %>">Assign/Edit Courses &nbsp;</a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

  </body>
</html>