<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script>
      function selectAll(){
        selectAllInput = document.getElementById('table-select-all');
        if (selectAllInput.checked){
          selectAllInput.checked = true;
        }
        else {
          selectAllInput.checked = false
        }
        inputs = document.getElementsByTagName("input");
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i] == selectAllInput) continue;
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              inputs[i].checked = false;
            }
            else{
              inputs[i].checked = true;
            }
          }
        }
      }
      
      function assignSubjects(obj){
        classRoomId = obj.getAttribute("class_room_id");
        window.location = "/class_room/assign_me_subjects?class_room_id=" + classRoomId;
      }
        
    </script>
    <style>
      table{
        margin-left:15%;
        width: 60%;
      }
      table td #simple-input{
        float: right;
      }

      table label{
        text-align: left;
      }
      #simple-input{
        font-size: 10pt !important;
      }

      #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }
      input[type="submit"] {
        margin-left: 37%;
      }
      table th:first-child {
        border-style: none none none !important;
    }

    .classes{
        position: relative;
        margin-left: 0%;
        width: 100%;
     }

    .classes th, tbody{
        text-align: center;
    }

    .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
    }
    
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/class_room/index">Class management</a></li><li><a href="/teacher/manage_teachers_menu">Manage Lecturers/teachers</a></li><li><a href="/examination_type/manage_exam_type_menu">Exam Type Management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/subject_groups_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/course/index">Courses</a></li>
          <li><a href="/class_room/index" class="active-tab">Classes</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_class">Add class</a></li>
            <li><a href="/class_room/edit_class">Edit class</a></li>
            <li><a href="/class_room/remove_class">Void class</a></li>
            <li><a href="/class_room/assign_subjects">Assign subjects</a></li>
            <li><a href="/class_room/edit_subjects">Edit subjects</a></li>
            <li><a href="/class_room/assign_teacher">Assign teacher</a></li>
            <li><a href="/class_room/edit_teacher">Edit teacher</a></li>
            <li><a href="/class_room/view_classes">View classes</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Student Registration</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <div class="information-box round">
                Showing only teachers that are not assigned to this class
              </div>
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <form method="post" action="assign_me_teachers">
              <table class="classes" style="">

                <thead>
                  <tr>
                    <th><input type="checkbox" id="table-select-all" onclick="selectAll();"/></th>
                    <th colspan="5" style=" padding: 1.25em 0 1.25em 1.25em;">Select teachers</th>
                  </tr>
                </thead>
           
                <tbody id="class_rooms">
                  <% @teachers.in_groups_of(3).each do |row| %>
                    <tr>
                        <% row.each do |teacher| %>
                            <% unless teacher.blank? %>
                                  <td><input type="checkbox" id="<%= teacher.id %>" name="teachers[<%= teacher.id   %>]"/></td>
                                  <td style="border-left: none; text-align: left;"><%= teacher.fname.capitalize.to_s + ' ' + teacher.lname.to_s %></td>
                              <% else %>
                                  <td style="border-left: none;">&nbsp;</td>
                                  <td style="border-left: none;">&nbsp;</td>
                            <% end %>
                        <% end %>
                    </tr>
                  <% end %>
                </tbody>
                
              </table>
              <div class="stripe-separator"><!--  --></div>
                <%= hidden_field_tag("class_room_id", params[:class_room_id]) %>
                <input type="submit" value="Submit" class="round blue ic-right-arrow" />
              </form>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->
    
  </body>
</html>