<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      
      function cancel(){
        url = "/class_room/edit_class_courses?class_room_id=<%=  params[:class_room_id] %>";
        window.location = url;
      }

      function checkIfOptional(){
        optional = "<%=  @course.optional %>"
        if (optional == 'true'){
          document.getElementById('optional').checked = true
        }
      }
      window.setTimeout("checkIfOptional();", 250);

    </script>

    <style>
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }

      #search-student-form legend {
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      #courses tbody tr{
        line-height: 0.8em;
      }

      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }

      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }

      input[type="submit"] {
        margin-left: 3%;
      }

      .cancel-btn{
        margin-left: 10%;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_class_course?class_room_id=<%= params[:class_room_id] %>">Add Class Course</a></li>
            <li><a href="/class_room/add_class_course_teacher?class_room_id=<%= params[:class_room_id] %>">Add Course Teacher</a></li>
            <li><a href="/class_room/edit_class_courses?class_room_id=<%= params[:class_room_id] %>">Edit Class Courses</a></li>
            <li><a href="/class_room/view_class_courses?class_room_id=<%= params[:class_room_id] %>">View Class Courses</a></li>
            <li><a href="/class_room/void_class_courses?class_room_id=<%= params[:class_room_id] %>">Void Class Courses</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Edit Class Course</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="course" class="autoform" action="/class_room/edit_me_class_course" method="POST">

                <div><label for="course_name" style="width:100px;">Course Name</label><input id="course_name" type="text" value="<%= @course.name %>" name="course_name" class="text required" /></div>
                <div><label for="text" style="width:100px; padding:3x !important;">Optional?</label><input type="checkbox" name="optional" id="optional" /></div>

                <div class="stripe-separator"><!--  --></div>
                <input type="hidden" name="class_room_id" value="<%= params[:class_room_id] %>"/>
                <input type="hidden" name="course_id" value="<%= params[:course_id] %>"/>

                <a onmousedown="cancel();" class="button round blue image-right ic-cancel text-upper cancel-btn" href="#">Cancel</a>
                <input type="submit" value="Submit" class="round blue ic-right-arrow" />
              </form>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

  </body>
</html>