<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      var classRoomID = '<%= params[:class_room_id] %>';

      function loadExamStudents(obj){
        jQuery.ajax({
          type: "POST",
          url: "/examination/render_students",
          data: "exam_id=" + obj.getAttribute("exam_id"),
          success: function(results){
            table = "<table style='width:60%; margin-left:10%;'>";
            table+="<tr>";
            table+="<th>#</th>";
            table+="<th>Student Name</th>";
            table+="</tr>";
            var pos = 0
            className = results[0]
            results = results[1];
            for (var i=0; i<=results.length - 1; i++){
              studentName = results[i];
              table+="<tr style='background-color:white;'>";
              table+="<td>" + (pos = pos + 1) + "</td>";
              table+="<td style='text-align:left; padding-left:18%;'>" + studentName + "</td>";
              table+="</tr>";
            }

            table += "</table>";
            students = table;

            jQuery.confirm({
              title:className,
              text:students,
              confirm: function(button) {
              },
              cancel: function(button) {
              },
              confirmButton: "Done"
            });
          }});
      }

      function loadExamResults(obj){
        jQuery.ajax({
          type: "POST",
          url: "/examination/render_exam_results",
          data: "exam_id=" + obj.getAttribute("exam_id"),
          success: function(results){
            table = "<table style='width:60%; margin-left:10%;'>";
            table+="<tr>";
            table+="<th style='width:60%;'>Student Name</th>";
            table+="<th>Marks</th>";
            table+="</tr>";
            className = results[0]
            results = results[1];
            for (var i=0; i<=results.length - 1; i++){
              studentName = results[i];
              table+="<tr style='background-color:white;'>";
              table+="<td style='text-align:left; padding-left:15%;'>" + results[i].name + "</td>";
              table+="<td style='text-align:center; font-weight:bold;'>" + results[i].marks + "</td>";
              table+="</tr>";
            }

            table += "</table>";
            students = table;

            jQuery.confirm({
              title:className,
              text:students,
              confirm: function(button) {
              },
              cancel: function(button) {
              },
              confirmButton: "Done"
            });
          }});
      }

    </script>

    <style type="text/css">
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      form.autoform input, select {
        font-size: 0.8em !important;
        font-weight: bold;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      #exams .badge{
        width: 85%;
        line-height: 2;
        cursor: pointer;
        font-weight: bold;
        font-size: 10pt;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>" >Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_examination?class_room_id=<%= params[:class_room_id] %>">Add Examination</a></li>
            <li><a href="/class_room/edit_examination?class_room_id=<%= params[:class_room_id] %>">Edit Examination</a></li>
            <li><a href="/class_room/view_examination?class_room_id=<%= params[:class_room_id] %>">View Examination</a></li>
            <li><a href="/class_room/void_examination?class_room_id=<%= params[:class_room_id] %>">Void Examination</a></li>
            <li><a href="/class_room/add_examination_results?class_room_id=<%= params[:class_room_id] %>">Add Exam Result</a></li>
            <li><a href="/class_room/edit_examination_results?class_room_id=<%= params[:class_room_id] %>">Edit Exam Result</a></li>
            <li><a href="/class_room/view_examination_results?class_room_id=<%= params[:class_room_id] %>">View Exam Result</a></li>
            <li><a href="/class_room/void_examination_results?class_room_id=<%= params[:class_room_id] %>">Void Exam Result</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Examinations Management</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <h2 style="font-weight: bold;">Ten Latest Exams</h2>
              <table>

                <thead>

                  <tr>
                    <th style="width:20%; text-align:center;">Exam</th>
                    <th style="width:16%; text-align:center;">Course</th>
                    <th style="width:10%; text-align:center;">Exam Date</th>
                    <th style="width:10%;">Exam Attendees</th>
                    <th style="width:10%;">Results</th>
                  </tr>

                </thead>

                <tbody id="exams">
                  <% @latest_class_exams.each do |exam| %>
                    <tr>
                      <td><%=  exam.examination_type.name.titleize %></td>
                      <td><%=  exam.course.name rescue nil %></td>
                      <td style="text-align:center;"><%=  exam.start_date.to_date.strftime("%d/%b/%Y")%></td>
                      <td>
                        <span exam_id="<%= exam.id %>" class="badge" onmousedown="loadExamStudents(this);">
                          <%= exam.students.count %>
                        </span>
                      </td>
                      <td>
                        <% unless exam.examination_results.blank? %>
                          <span exam_id="<%= exam.id %>" class="badge" onmousedown="loadExamResults(this);">
                            View
                          </span>
                        <% else %>
                          Not Available
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

  </body>
</html>