<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Time Table Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("exporting") %>
    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("excellentexport") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script type="text/javascript">
      
    </script>

    <style type="text/css">

      table th:first-child {
        border-style: none none none !important;
      }

      .classes{
        position: relative;
        margin-left: 0%;
        width: 100%;
      }

      .classes th, tbody{
        text-align: center;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        font-size: 16px;
        font-weight: bold;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      form.autoform input, select {
        font-size: 0.8em !important;
        font-weight: bold;
      }

      

      a{
        cursor: pointer;
      }

      #students_punishments .badge{
        width: 85%;
        line-height: 2;
        cursor: pointer;
        font-weight: bold;
        font-size: 10pt;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="content-module">

          <div class="content-module-heading cf">

            <h3 class="fl">Summary</h3>
            <span class="fr expand-collapse-text">Click to collapse</span>
            <span class="fr expand-collapse-text initial-expand">Click to expand</span>

          </div> <!-- end content-module-heading -->


          <div class="content-module-main">
            <form action="#" id="search-student-form">
              <fieldset>
                <legend>Students Summary</legend>
                <div style="margin-left: 30%;">

                  <span>Total Students <span class="badge" style="font-size: 14pt;"><%= @total_students %></span></span>
                  <span style="padding-left: 100px;">Males <span class="badge"  style="font-size: 14pt;"><%= @males_count %></span></span>
                  <span style="padding-left: 100px;">Females <span class="badge" style="font-size: 14pt;"><%= @females_count %></span></span>

                </div>
                <br />

              </fieldset>
            </form>

            <form action="#" id="search-student-form">
              <fieldset>
                <legend>Top 10 Students With More Punishments</legend>
                <div class="dropdown" style="padding-left: 8px;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Export As
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" download="students_punishments.xls" href="#"
                         onclick="return ExcellentExport.excel(this, 'students_punishments', 'Sheet Name Here');">Excel</a>
                    </li>
                  </ul>
                </div><br />

                <table id="students_punishments">
                  <thead>
                    <tr>
                      <th style="width: 20%;">Student Name</th>
                      <th>Gender</th>
                      <th>Phone #</th>
                      <th style="width: 20%;">Total Punishments</th>
                    </tr>
                  <tbody>
                    <% @student_punishments_data.each do |data| %>
                      <tr>
                        <td><%= data[1] %></td>
                        <td><%= data[2] %></td>
                        <td><%= data[3] %></td>
                        <td><span class="badge" onclick="gotoStudentDetails('<%= data[0] %>');"><%= data[4] %></span></td>
                      </tr>
                    <% end %>
                  </tbody>
                  </thead>
                </table>
              </fieldset>
            </form>

            <form action="#" id="search-student-form">
              <fieldset>
                <legend>Latest Ten Student Payments</legend>
                <div class="dropdown" style="padding-left: 8px;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Export As
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" download="students_payments.xls" href="#"
                         onclick="return ExcellentExport.excel(this, 'students_payments', 'Sheet Name Here');">Excel</a>
                    </li>
                  </ul>
                </div><br />
                <table id="students_payments">
                  <thead>
                    <tr>
                      <th style="width: 20%;">Student Name</th>
                      <th style="text-align: center;">Payment Type</th>
                      <th style="text-align: center;">Amount Paid</th>
                      <th style="width: 20%;">Date of Payment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @latest_students_payments.each do |payment| %>
                      <tr>
                        <td><%= payment.student.name %></td>
                        <td style="text-align: center;"><%= payment.payment_type.name %></td>
                        <td style="text-align: center;"><b><%=  number_to_currency(payment.amount_paid, :unit => 'MK') %></b></td>
                        <td><%= payment.date.to_date.strftime("%d-%b-%Y") %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </fieldset>
            </form>

            <form action="#" id="search-student-form">
              <fieldset>
                <legend>Ten Latest Exams</legend>
                <div class="dropdown" style="padding-left: 8px;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Export As
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" download="latest_exams.xls" href="#"
                         onclick="return ExcellentExport.excel(this, 'latest_exams', 'Sheet Name Here');">Excel</a>
                    </li>
                  </ul>
                </div><br />
                <table id="latest_exams">
                  <thead>
                    <tr>
                      <th style="width:20%; text-align:center;">Exam</th>
                      <th style="width:16%; text-align:center;">Course</th>
                      <th style="width:10%; text-align:center;">Exam Date</th>
                      <th style="width:10%;">Exam Attendees</th>
                      <th style="width:10%;">Results</th>
                    </tr>
                  </thead>
                  <tbody id="exams">
                    <% @latest_class_exams.each do |exam| %>
                      <tr>
                        <td><%=  exam.examination_type.name.titleize %></td>
                        <td><%=  exam.course.name rescue nil %></td>
                        <td style="text-align:center;"><%=  exam.start_date.to_date.strftime("%d/%b/%Y")%></td>
                        <td>
                          <span exam_id="<%= exam.id %>" class="badge" onmousedown="loadExamStudents(this);">
                            <%= exam.students.count %>
                          </span>
                        </td>
                        <td>
                          <% unless exam.examination_results.blank? %>
                            <span exam_id="<%= exam.id %>" class="badge" onmousedown="loadExamResults(this);">
                              View
                            </span>
                          <% else %>
                            Not Available
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </fieldset>
            </form>

            <div id="container">
            </div>
          </div> <!-- end content-module-main -->

        </div> <!-- end content-module -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>