<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script type="text/javascript">
      var classRoomID = '<%= params[:class_room_id] %>'
      function deassociateTeacherFromCourse(obj){
        courseID = obj.getAttribute("course_id");
        courseName = obj.getAttribute("course_name");
        teacherID = obj.getAttribute("teacher_id");
        teachersName = obj.getAttribute("teachers_name");
        
        jQuery.confirm({
          title: 'CONFIRM',
          text: 'Are you sure yo want to remove <b><i>' + teachersName + '</i></b> from this course <b><i>' + courseName + '</i></b>. You can roll back later',
          confirm: function(button) {
            jQuery.ajax({
              type: "POST",
              url: "/class_room/delete_teacher_class_room_course",
              data: "course_id=" + courseID + "&teacher_id=" + teacherID + "&class_room_id=" + classRoomID,
              success: function(results){
                window.location = location.href.replace('#', '');
              },
              cancel: function(button) {
            
              },
              confirmButton: "Done"
            });
          }})
      }

    </script>

    <style type="text/css">

      table th:first-child {
        border-style: none none none !important;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }

      #search-student-form legend {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form table td{
        border-left: none;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      .red{
        background-color: red !important;
        color: white;
        font-weight: bold;
      }
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_new_teacher?class_room_id=<%= params[:class_room_id] %>">Add New Class Teacher</a></li>
            <li><a href="/class_room/assign_class_teachers?class_room_id=<%= params[:class_room_id] %>">Assign Class Teachers</a></li>
            <li><a href="/class_room/view_class_teachers?class_room_id=<%= params[:class_room_id] %>">View Class Teachers</a></li>
            <li><a href="/class_room/void_class_teachers?class_room_id=<%= params[:class_room_id] %>">Void Class Teacher</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Teachers Management</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <% @course_teacher_hash.each do |course_id, teachers| %>
                <form id="search-student-form" action="#">
                  <fieldset>
                    <legend><%= @class_room_course_id_name_map[course_id] %></legend>
                    <% course_name = Course.find(course_id).name %>
                    <div>
                      <% unless teachers.flatten.blank? %>
                        <span style="float: right;">
                          Total Teachers: <sup class="notice badge badge-info"><%= teachers.flatten.count %></sup>
                        </span><br /><br />
                        <table>
                          <thead>
                            <tr>
                              <th style="min-width: 15%;">First Name</th>
                              <th style="text-align: center;">Last Name</th>
                              <th style="text-align: center;">Gender</th>
                              <th style="text-align: center;">E-mail</th>
                              <th style="text-align: center;">Phone #</th>
                              <th style="text-align: center;">Action</th>
                            </tr>
                          </thead>
                          <tbody id="teachers">
                            <% teachers.flatten.each do |teacher| %>
                              <tr>
                                <td><%=  teacher.fname %></td>
                                <td style="text-align: center;"><%= teacher.lname %></td>
                                <td style="text-align: center;"><%= teacher.gender %></td>
                                <td style="text-align: center;"><a href="#"><%= teacher.email %></a></td>
                                <td style="text-align: center;"><%= teacher.mobile %></td>
                                <td>
                                  <a class="button round blue image-right ic-right-arrow text-upper" href="#"
                                     onclick="deassociateTeacherFromCourse(this)" teacher_id="<%= teacher.employee_id %>"
                                     course_id="<%= course_id %>" course_name="<%= course_name %>"
                                     teachers_name="<%= teacher.name %>">De-associate</a>
                                </td>
                              </tr>
                            <% end %>
                          <% else %>
                          <center>
                            <i><p>No Teacher Assigned</p></i>
                            <a class="button round blue image-right ic-right-arrow text-upper" href="#" onclick="assignTeachers(this)" course_id="<%= course_id %>">Assign Teachers</a>
                          </center>
                          <br />
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </fieldset>
                </form>
              <% end %>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

  </body>
</html>