<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script type="text/javascript">
      var classRoomId = '<%= params[:class_room_id] %>';
      
      function viewStudentPaymentsDetails(obj){
        studentId = obj.getAttribute("student_id");
        semesterAuditId = obj.getAttribute("semester_audit_id");
        paymentTypeId = obj.getAttribute("payment_type_id");
        window.location = "/class_room/student_payment_details?class_room_id=" + classRoomId + '&student_id=' + studentId + '&semester_audit_id=' + semesterAuditId + '&payment_type_id=' + paymentTypeId;
      }

      function loadSearchResults(){
        semesterAuditId = document.getElementById("semester").value

        jQuery.ajax({
          type: "POST",
          url: "/class_room/class_room_payments_search",
          data: "class_room_id=" + classRoomId + "&semester_audit_id=" + semesterAuditId,
          success: function(results){
            //results = eval("(" + results  + ")");
            semesterDetails = results[0];
            paymentsHash = results[1];
            paymentTypesHash = results[2]
            html = "";
            tbody = document.getElementById("payments");

            for (var payment_type_id in paymentsHash){
              html+="<tr>";
              html+="<th style='font-weight:bold;' colspan='3'>" + paymentTypesHash[payment_type_id] + "</th>";
              html+="</tr>";
              
              html+="<tr>";
              html+='<th style="border-top:1px solid white !important; border-left:1px solid white; padding:0px; text-align: center; min-width: 20%;">Student Name</th>';
              html+='<th style="border-top:1px solid white !important; border-left:1px solid white; padding:0px; text-align: center;">Total Amount Paid</th>';
              html+='<th style="border-top:1px solid white !important; border-left:1px solid white; padding:0px; text-align: center; min-width: 15%;">Action</th>';
              html+="</tr>";
              for (var student_id in paymentsHash[payment_type_id]){
                values = paymentsHash[payment_type_id][student_id][payment_type_id];
                semesterAuditId = values["semester_audit_id"];
                totalAmountPaid = values["total_amount_paid_formatted"];
                studentName = values["student_name"];

                html+="<tr>";
                html+="<td style='text-align:left; padding-left: 10px;'>" + studentName + "</td>";
                html+="<td style='text-align: center; font-weight: bold;'>" + totalAmountPaid + "</td>";
                html+="<td>"
                html+="<a semester_audit_id='" + semesterAuditId + "' payment_type_id='" + payment_type_id + "' student_id='" + student_id + "' onclick='viewStudentPaymentsDetails(this)' class='button round blue image-right ic-right-arrow text-upper'>View Payments Details &nbsp;</a>"
                html+="</td>"
                html+="</tr>";
              }

            }
            
            document.getElementById("semester_details").innerHTML = semesterDetails;
            tbody.innerHTML = html;
          }

        });

      }
    </script>

    <style>
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }

      input[type="submit"] {
        margin-left: 37%;
      }

      table th:first-child {
        border-style: none none none !important;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      .orange{
        background-color: #EEEE00 !important;
      }

      #semester{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        min-width: 347px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_student_payment?class_room_id=<%= params[:class_room_id] %>">Add Student Payment</a></li>
            <li><a href="/class_room/edit_student_payments?class_room_id=<%= params[:class_room_id] %>">Edit Student Payments</a></li>
            <li><a href="/class_room/view_student_payments?class_room_id=<%= params[:class_room_id] %>">View Student Payments</a></li>
            <li><a href="/class_room/view_class_payments?class_room_id=<%= params[:class_room_id] %>">View Class Payments</a></li>
            <li><a href="/class_room/void_student_payments?class_room_id=<%= params[:class_room_id] %>">Void Student Payments</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">View Class Payments</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table style="width: 45%; float: right;">
                      <tr>
                        <td style="font-size: 13pt;">Semester</td>
                        <td style="width: 50px !important;">
                          <select id="semester">
                            <% semester_data.each do |semester_audit_id, semester_number, start_date, end_date|%>
                              <option value="<%= semester_audit_id %>">Semester <%= semester_number.to_s + " (#{start_date.to_s} - #{end_date.to_s})" %></option>
                            <% end %>
                          </select>
                        </td>
                        <td style="width: 20px"><a onclick="loadSearchResults();" class="button round blue image-right ic-search text-upper">Search</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>

              <% if @payments_hash.blank? %>
                <div class="error-box round">
                  No payments found
                </div>
              <% end %>

              <table>
                <tr>
                  <th colspan="3" style="font-weight:bold; border-bottom: 2px solid white !important; background-color: #006dcc;">Payments For <i>Semester <span id="semester_details"><%= @semester_details %></span></i></th>
                </tr>
                <tbody id="payments">
                  <% @payments_hash.each do |payment_type_id, values| %>
                    <tr>
                      <th colspan="3" style="font-weight:bold;"><%= @payment_types_hash[payment_type_id] %></th>
                    </tr>
                    <tr>
                      <th style="border-top:1px solid white !important; border-left:1px solid white; padding:0px; text-align: center; min-width: 20%;">Student Name</th>
                      <th style="border-top:1px solid white !important; border-left:1px solid white; padding:0px; text-align: center;">Total Amount Paid</th>
                      <th style="border-top:1px solid white !important; border-left:1px solid white; padding:0px; text-align: center; min-width: 15%;">Action</th>
                    </tr>
                    <% values.each do |student_id, data| %>

                      <%  student = Student.find(student_id) %>
                      <tr>
                        <td style="text-align:left; padding-left: 10px;"><%= student.name %></td>
                        <td style="text-align: center; font-weight: bold;"><%= number_to_currency(data[payment_type_id]["total_amount_paid"], :unit => 'MK') %></td>
                        <td>
                          <a class="button round blue image-right ic-right-arrow text-upper" href="#"
                             onclick="viewStudentPaymentsDetails(this)" student_id="<%= student_id %>" payment_type_id="<%= payment_type_id %>"
                             semester_audit_id="<%= data[payment_type_id]["semester_audit_id"] %>">View Payments Details &nbsp;</a>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

    <script>

    </script>
  </body>
</html>