<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <script type="text/javascript">
      var classRoomId = "<%=params[:class_room_id]%>";
      
      function loadSearchResults(){
        courseName = document.getElementById('name_search').value;

        jQuery.ajax({
          type: "POST",
          url: "/class_room/search_class_room_courses",
          data: "class_room_id=" + classRoomId + "&course_name=" + courseName,
          success: function(results){
            //results = eval("(" + results  + ")");
            html = "";
            tbody = document.getElementById("courses-data");
            for (var course_id in results){
              courseName = results[course_id]["course_name"];

              html+="<tr id='" + course_id + "'>";
              html+="<td><input type='checkbox' course_id='" + course_id + "'/></td>";
              html+="<td style='text-align: center;'>" + courseName +  "</td>";
              html+="<td><a onmousedown='setCurrentCourseId(this);' class='table-actions-button ic-table-delete confirm' course_id='" + course_id + "'></a></td>";
              html+="</tr>";

            }

            tbody.innerHTML = html;
            
            $(".confirm").confirm({
              title:"Delete confirmation",
              text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
              confirm: function(button) {
                deleteSingleEntry();
              },
              cancel: function(button) {

              },
              confirmButton: "Yes I am",
              cancelButton: "No"
            });
          }

        });

      }


      function selectAll(){
        selectAllInput = document.getElementById('table-select-all');
        inputs = document.getElementsByTagName("input");
        if (selectAllInput.checked){
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = true;
            }
          }
        }
        else{
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
              inputs[i].checked = false;
            }
          }
        }
      }

      function deleteCourses(){
        inputs = document.getElementsByTagName("input");
        courseIDs = []
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              if (inputs[i].hasAttribute("course_id")){
                courseId = inputs[i].getAttribute("course_id");
                courseIDs.push(courseId);
              }
            }
          }
        }

        jQuery.ajax({
          type: "POST",
          url: "/course/delete_courses",
          data: "course_ids=" + courseIDs,
          success: function(){
            for (var x=0; x<= courseIDs.length - 1; x++){
              id = courseIDs[x];
              element = document.getElementById(id);
              element.parentNode.removeChild(element)
            }
          }

        });
      }
      var currentCourseId = "";
      function setCurrentCourseId(obj){
        currentCourseId = obj.getAttribute("course_id");
      }

      function deleteSingleEntry(){
        jQuery.ajax({
          type: "POST",
          url: "/course/delete_courses",
          data: "course_id=" + currentCourseId + "&mode=single_entry",
          success: function(){
            element = document.getElementById(currentCourseId);
            element.parentNode.removeChild(element);
          }

        });
      }
      
    </script>
    <style>
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }

      #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }
      input[type="submit"] {
        margin-left: 37%;
      }
      table th:first-child {
        border-style: none none none !important;
      }

      .classes{
        position: relative;
        margin-left: 0%;
        width: 100%;
      }

      .classes th, tbody{
        text-align: center;
      }

      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 250px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      form.autoform input, select {
        font-size: 0.8em !important;
        font-weight: bold;
      }

      .orange{
        background-color: #EEEE00 !important;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/class_room/switch_class_room_menu?class_room_id=<%= params[:class_room_id] %>" class="active-tab dashboard-tab orange"><%= @class_room.name %></a></li>
          <li><a href="/class_room/admissions_tab?class_room_id=<%= params[:class_room_id] %>">Admissions/Registrations</a></li>
          <li><a href="/class_room/attendance_tab?class_room_id=<%= params[:class_room_id] %>">Attendance Register</a></li>
          <li><a href="/class_room/behavior_tab?class_room_id=<%= params[:class_room_id] %>">Behavior</a></li>
          <li><a href="/class_room/examinations_tab?class_room_id=<%= params[:class_room_id] %>">Examinations</a></li>
          <li><a href="/class_room/payments_tab?class_room_id=<%= params[:class_room_id] %>">Payments</a></li>
          <li><a href="/class_room/courses_tab?class_room_id=<%= params[:class_room_id] %>" class="active-tab">Courses</a></li>
          <li><a href="/class_room/teachers_tab?class_room_id=<%= params[:class_room_id] %>">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/class_room/add_class_course?class_room_id=<%= params[:class_room_id] %>">Add Class Course</a></li>
            <li><a href="/class_room/edit_class_courses?class_room_id=<%= params[:class_room_id] %>">Edit Class Courses</a></li>
            <li><a href="/class_room/view_class_courses?class_room_id=<%= params[:class_room_id] %>">View Class Courses</a></li>
            <li><a href="/class_room/void_class_courses?class_room_id=<%= params[:class_room_id] %>">Void Class Courses</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Void Class Courses</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>

              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table style="width: 45%; float: right;">
                      <tr>
                        <td style="font-size: 13pt;">Name</td>
                        <td style="width: 50px !important;"><input type="text" id="name_search"/></td>
                        <td style="width: 20px"><a onclick="loadSearchResults();" class="button round blue image-right ic-search text-upper">Search</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>

              <table id="courses">
                <thead>
                  <tr>
                    <th style="min-width: 15%;"><input type="checkbox" onclick="selectAll();" id="table-select-all"/></th>
                    <th style="text-align: center;">Course</th>
                    <th style="min-width: 15%;">Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td colspan="3" class="table-footer">
                      <a style="font-size: 10pt;" href="#" class="button round blue image-right ic-delete text-upper delete-multiple">Delete</a>
                    </td>
                  </tr>
                </tfoot>

                <tbody id="courses-data">
                  <% @courses.each do |course| %>
                    <tr id="<%= course.course_id %>">
                      <td><input type="checkbox" course_id="<%= course.id %>"/></td>
                      <td style="text-align: center;"><%= course.name %></td>
                      <td><a class="table-actions-button ic-table-delete confirm" onmousedown="setCurrentCourseId(this);" course_id="<%= course.course_id %>"></a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("bootstrap") %>

    <script type="text/javascript">

      $(".delete-multiple").confirm({
        title:"Delete confirmation",
        text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
        confirm: function(button) {
          deleteCourses();
        },
        cancel: function(button) {
          alert("You aborted the operation.");
        },
        confirmButton: "Yes I am",
        cancelButton: "No"
      });

      $(".confirm").confirm({
        title:"Delete confirmation",
        text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
        confirm: function(button) {
          deleteSingleEntry();
        },
        cancel: function(button) {

        },
        confirmButton: "Yes I am",
        cancelButton: "No"
      });
    </script>
  </body>
</html>