<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Behavior Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script>
      function editMe(obj){
        punishmentId = obj.getAttribute("punishment_id");
        window.location = "/punishments/edit_me_punishment?punishment_id=" + punishmentId;
      }

      function selectValues(){
          <% unless @punishment.blank? %>
                punishmentId='<%=  @punishment.punishment_type_id %>'
                options = document.getElementById('punishment_type').getElementsByTagName('option');
                for (var i=0; i<=options.length - 1; i++){
                  if (options[i].value == punishmentId){
                    options[i].selected = true;
                  }
                }
          <% end %>
          <% unless @punishment.blank? %>
                teacherId='<%=  @punishment.teacher_id %>'
                options = document.getElementById('teacher').getElementsByTagName('option');
                for (var i=0; i<=options.length - 1; i++){
                  if (options[i].value == teacherId){
                    options[i].selected = true;
                  }
                }
          <% end %>
      }
      
  function loadTextAreaInputValue(){
    punishmentDetails = "<%= @punishment.details %>"
    punishment = document.getElementById('punishment');
    if (punishment){
      punishment.value = punishmentDetails
    }
  }
  window.setTimeout("loadTextAreaInputValue();selectValues();", 100);
      
    </script>
    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: red;
      }
      form.autoform .msg.icon {
        margin: 0 10px;
        padding: 5px 5px 5px 30px;
        position: unset;
      }

      form label {
        font-size: 0.9em;
        font-weight: bold;
      }
      form.autoform input, select{
        font-size: 0.8em !important;
        font-weight: bold;
      }
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }
      table th:first-child {
        border-style: none none none !important;
      }
      #teacher{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 41px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #punishment_type{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        text-align: center;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      #punishment_details input[type="text"]{
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }

      #punishment_details textarea{
        padding: 0.5em 0.225em;
        width: 250px;
      }

      .punishment_details .msg.icon {
        position: absolute !important;
      }

      form.autoform select {
        width: 206px;
      }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/class_room/index">Class management</a></li>
              <li><a href="/teacher/manage_teachers_menu">Manage Lecturers/teachers</a></li>
              <li><a href="/examination_type/manage_exam_type_menu">Exam Type Management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="/payments/payments_management_menu">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/punishments/behavior_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/punishments/behavior_management_menu" class="active-tab">Punishments</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/punishments/add_punishment/">Add Punishment</a></li>
            <li><a href="/punishments/edit_punishment/">Edit Punishment</a></li>
            <li><a href="/punishments/remove_punishments/">Void Punishment</a></li>
            <li><a href="/punishments/view_punishments/">View Punishments</a></li>
            <li><a href="/punishments/punishment_types_menu/">Punishments Types</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Behavior Management</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <form id="punishment_details" class="autoform" action="/punishments/edit_me_punishment" method="POST" >

                <div><label for="start_date">Start Date</label><input id="start_date" type="text" name="start_date" class="text required date-picker" value="<%= @punishment.start_date.to_date.strftime("%Y-%m-%d") %>"/></div>
                <div><label for="end_date">End Date</label><input id="end_date" type="text" name="end_date" class="text date-picker required" value="<%= @punishment.end_date.to_date.strftime("%Y-%m-%d") %>"/></div>
                <div><label for="punishment_type">Punishment Type</label>
                  <%= @punishment_types_select_tag %>
                </div>
                <div><label for="teacher">Responsible Teacher</label>
                  <%= @teachers_select_tag %>
                </div>

                <div class="punishment_details">
                  <label for="punishment">Punishment Details</label><textarea rows="9" type="text" name="punishment_details" class="text required" id="punishment" style="font-weight:bold;"></textarea>
                </div>

                <div class="stripe-separator"><!--  --></div>
                <%= hidden_field_tag("punishment_id", params[:punishment_id]) %>
                <input type="submit" value="Submit" class="round blue ic-right-arrow" />
              </form>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

          <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->
    <%= javascript_include_tag("bootstrap") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
        view : 'years',
        direction: ['<%=  (Date.today - 30.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>