<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Behavior Management</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("highcharts") %>
    <%= javascript_include_tag("script") %>

    <%= javascript_include_tag("exporting") %>
    <%= stylesheet_link_tag("style") %>

    <script type="text/javascript">
      function editMe(obj){
        punishmentId = obj.getAttribute("punishment_id");
        window.location = "/punishments/edit_me_punishment?punishment_id=" + punishmentId;
      }

      function showStudents(punishmentID){
        window.location = "/punishments/punishment_students_edit?punishment_id=" + punishmentID;
      }

      function loadSearchResults(){
        punishmentTypeId = document.getElementsByClassName('punishment_type_search')[0].value;
        jQuery.ajax({
          type: "POST",
          url: "/punishments/search_punishments",
          data: "punishment_type_id=" + punishmentTypeId,
          success: function(results){
            //results = eval("(" + results  + ")");
            html = "";
            tbody = document.getElementById("punishments");

            for (var punishment_id in results){
              punishmentType = results[punishment_id]["punishment_type"];
              punishmentDetails = results[punishment_id]["punishment_details"];
              responsibleTeacher = results[punishment_id]["responsible_teacher"];
              totalStudents = results[punishment_id]["total_students"];
              startDate = results[punishment_id]["start_date"];
              endDate = results[punishment_id]["end_date"];


              html+="<tr>";
              html+="<td style='text-align:left; padding: 0.833em 0 0.833em 1.25em;'>" + punishmentType +  "</td>";
              html+="<td>" + punishmentDetails +  "</td>";
              html+="<td>" + responsibleTeacher +  "</td>";
              html+="<td><center> <span class='label' onmousedown='showStudents('" + punishment_id + "')'>" + totalStudents +  "</span></center></td>";
              html+="<td>" + startDate +  "</td>";
              html+="<td>" + endDate +  "</td>";
              html+="<td><a onclick='editMe(this)' class='table-actions-button ic-table-edit' href='#' punishment_id='" + punishment_id + "'></a></td>";
              html+="</tr>";

            }

            tbody.innerHTML = html;
          }

        });

      }
    </script>
    <style>
      .label {
        border-radius: 1.5em;
        color: #fff;
        display: inline;
        background-color: #5bc0de;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1;
        padding-left: 20%;
        padding-right: 20%;
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        cursor: pointer;
      }
      table th:first-child {
        border-style: none none none !important;
      }
      a{
        cursor: pointer;
      }

      #search-student-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-student-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-student-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 215px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-student-form table td{
        border-left: none;
      }

      form.autoform input, select {
        font-size: 0.8em !important;
        font-weight: bold;
      }

      #dropdown-actions {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 12px !important;
        height: 34px;
        line-height: 1.42857;
        margin-left: 0;
        text-align: center;
        width: 186px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

    </style>
  </head>
  <body>   
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/punishments/behavior_management_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/punishments/behavior_management_menu" class="active-tab">Punishments</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/punishments/add_punishment/">Add Punishment</a></li>
            <li><a href="/punishments/edit_punishment/">Edit Punishment</a></li>
            <li><a href="/punishments/remove_punishments/">Void Punishment</a></li>
            <li><a href="/punishments/view_punishments/">View Punishments</a></li>
            <li><a href="/punishments/punishment_types_menu/">Punishments Types</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Behavior Management</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                <div class="confirmation-box round">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error-box round">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <form id="search-student-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table>
                      <tr>
                        <td style="width:15%; text-align: center; font-size: 13pt;"><span>Punishment Type</span></td>
                        <td style="width:26%">
                          <select id="dropdown-actions" class="punishment_type_search">
                            <option value="All">[Punishment Type]</option>
                            <% @punishment_types.each do |punishment_type| %>
                                <option value="<%= punishment_type.punishment_type_id %>"><%=  punishment_type.name %></option>
                            <% end %>
                          </select>
                        </td>
                        <td><a onclick="loadSearchResults();" class="button round blue image-right ic-search text-upper">Search</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>
              <table>

                <thead>

                  <tr>
                    <th style="min-width:15%;">Punishment Type</th>
                    <th>Punishment Details</th>
                    <th>Teacher Responsible</th>
                    <th>Total Students</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody id="punishments">
                  <% @punishments.each do |punishment| %>
                    <tr id="<%= punishment.id %>">
                      <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%= punishment.punishment_type.name %></td>
                      <td><%=  punishment.details %></td>
                      <td><%=  punishment.teacher.fname + ' ' + punishment.teacher.lname%></td>
                      <td><center><span class="label" onmousedown="showStudents(<%= punishment.id%>)"><%=  punishment.students.count %></span></center></td>
                      <td><%=  punishment.start_date.to_date.strftime("%d-%b-%Y") %></td>
                      <td><%=  punishment.end_date.to_date.strftime("%d-%b-%Y") %></td>
                      <td>
                        <a punishment_id="<%= punishment.id %>" onclick="editMe(this)" class="table-actions-button ic-table-edit"></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>

              </table>
            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

          <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

  </body>
</html>