<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>myschool</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->
    <%= javascript_include_tag("jquery") %>
    <%= stylesheet_link_tag("style") %>
    <script type="text/javascript">
      function gotoStudentPage(studentID){
        window.location = "/student/my_page?student_id=" + studentID;
      }

      function gotoTeacherPage(teacherID){
        window.location = "/teacher/my_page?teacher_id=" + teacherID;
      }

      function gotoGuardianPage(guardianID){
        window.location = "/parent/my_page?guardian_id=" + guardianID;
      }
      
      function searchEverything(){
        var container = $('.search_results');
        container.show();
        names = document.getElementById('search-keyword').value.split(/\W+/);
        firstName = names[0];
        fnameCopy = firstName.toUpperCase();
        lastName = names[1];
        if (typeof lastName == 'undefined')lastName = '';
        lnameCopy = lastName.toUpperCase();
        jQuery.ajax({
          type: "POST",
          url: "/admin/search_everything",
          data: "first_name=" + firstName + "&last_name=" + lastName,
          success: function(results){
            results = eval("(" + results  + ")");
            students = results["students"];
            teachers = results["teachers"];
            guardians = results["guardians"];
            
            students_count = 0;
            teachers_count = 0;
            guardians_count = 0;

            student_results_div = document.getElementById('student_results');
            students_count_id = document.getElementById('students_count');

            teacher_results_div = document.getElementById('teacher_results');
            teachers_count_id = document.getElementById('teachers_count');

            guardian_results_div = document.getElementById('guardian_results');
            guardians_count_id = document.getElementById('guardians_count');

            html_students = "";
            html_teachers = "";
            html_guardians = "";
            for (var student_id in students){
              students_count = students_count + 1
              firstName = students[student_id]["fname"];
              firstName = hiliter(fnameCopy, firstName)
              lastName = students[student_id]["lname"];
              lastName = hiliter(lnameCopy, lastName)
              html_students+="<div class='result_row' onclick='gotoStudentPage(" + student_id + ")'>" + firstName + ' ' + lastName + "</div>";
            }
            students_count_id.innerHTML = '<b>' + students_count + '</b>';
            student_results_div.innerHTML = html_students;

            for (var teacher_id in teachers){
              teachers_count = teachers_count + 1
              firstName = teachers[teacher_id]["fname"];
              firstName = hiliter(fnameCopy, firstName)
              lastName = teachers[teacher_id]["lname"];
              lastName = hiliter(lnameCopy, lastName)
              html_teachers+="<div class='result_row' onclick='gotoTeacherPage(" + teacher_id + ")'>" + firstName + ' ' + lastName + "</div>";
            }
            teachers_count_id.innerHTML = '<b>' + teachers_count + '</b>';
            teacher_results_div.innerHTML = html_teachers;

            for (var guardian_id in guardians){
              guardians_count = guardians_count + 1
              firstName = guardians[guardian_id]["fname"];
              firstName = hiliter(fnameCopy, firstName)
              lastName = guardians[guardian_id]["lname"];
              lastName = hiliter(lnameCopy, lastName)
              html_guardians+="<div class='result_row' onclick='gotoGuardianPage(" + guardian_id + ")'>" + firstName + ' ' + lastName + "</div>";
            }
            guardians_count_id.innerHTML = '<b>' + guardians_count + '</b>';
            guardian_results_div.innerHTML = html_guardians;
          }

        });
      }

      function hiliter(word, element){
        var rgxp = new RegExp(word, 'g');
        var repl = "<span class='match'>" + word + "</span>";
        element = element.replace(rgxp, repl)
        return element
      }
      
      $(document).mouseup(function (e){
        var container = $('.search_results');
        if (!container.is(e.target) && container.has(e.target).length == 0){
          {
            container.hide();
          }
        }
      })

      String.prototype.capitalize = function(){
        return this.charAt(0).toUpperCase() + this.slice(1)
      }
    </script>
    <style>
      .search_results_container{
        box-shadow: 3px 3px 10px rgb(136, 136, 136);
        border: 1px solid rgb(160, 160, 160);
        background: none repeat scroll 0% 0% rgb(255, 255, 255);
        padding: 5px 0px;
      }

      .results_header{
        cursor: pointer;
        padding: 0px 10px;
        background: none repeat scroll 0% 0% transparent;
        color: rgb(48, 48, 48);
        font-size: 12px;
        font-style: italic;
        color: green;
        font-weight: bold;
      }

      .result_row{
        cursor: pointer;
        padding: 0px 20px;
        background: none repeat scroll 0% 0% transparent;
        color: rgb(48, 48, 48); 
        font-size: 11px;
      }

      .result_row:hover{
        background-color: #f89406;
      }
      .match{
        font-weight: bold !important;
      }

    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong><%= User.find(session[:current_user_id]).username %></strong></a>
            <ul>
              <li><a href="/user/user_account_settings_menu?edit_mode=username">Edit my username</a></li>
              <li><a href="/user/user_account_settings_menu?edit_mode=password">Edit my password</a></li>
              <li><a href="/user/user_account_settings_menu">My Profile</a></li>
              <li><a href="/user/logout">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/examination_type/manage_exam_type_menu">Assessment Registration</a></li>
              <li><a href="/student/examination_results_menu">Assessment Results</a></li>
              <li><a href="/payments/payments_management_menu">Fees/Other Payments</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letter for overdue student</a></li>

            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/subject_groups_management">Subject/Course Management</a></li>
              <li><a href="/class_room/index">Class management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term Management </a></li>
              <li><a href="/payments/payments_management_menu">Fees/Other Payments Management</a></li>
              <li><a href="/attachments/documents_management_menu">Document Management</a></li>
              <li><a href="#">Email Management</a></li>
              <li><a href="/admin/time_table_management_menu">Timetable Management</a></li>
              <li><a href="/student/examination_results_menu">Examination Management</a></li>
              <li><a href="/teacher/manage_teachers_menu">Lecture/Teacher Management</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employees</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee Registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee Management</a></li>
              <li><a href="/employees/position_management_menu">Position Management</a></li>
              <li><a href="#">Mini payroll</a></li>
              <li><a href="#">Loans</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User Management</a></li>
              <li><a href="/parent/parents_menu">Parents Management</a></li>
              <li><a href="/departments/department_management_menu">Departments Management</a></li>
              <li><a href="#">ID Barcode Configuration</a></li>
              <li><a href="/admin/settings">System Settings</a></li>
              <li><a href="/report/reports_generator_menu">Super reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <% if notices.keys.count > 0 %>
            <li class="v-sep"><a href="#" class="round button dark menu-email image-left">To Do&nbsp;<sup class="notice badge badge-info"><%= notices.keys.count%></sup></a>
              <ul>
                <% count = 1 %>
                <% notices.each do |key, values| %>
                <li><a href="<%=  values["link"]%>"><span style="font-weight: bold;"><%= count %>.</span>&nbsp;<%= values["caption"] %></a></li>
                  <% count = count + 1  %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" autocomplete="off" onkeyup="searchEverything();" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->
    <div class="search_results" style="position: fixed; display:none; z-index: 1000; right: 0px; padding-right: 30px; top: 54px; width:218px;">
      <div class="search_results_container">
        <div class="results_header">Students (<span id="students_count"></span>)</div>
        <hr></hr>
        <div id="student_results">
        </div>
        <!---------------- !-->
        <div class="results_header">Teachers (<span id="teachers_count"></span>)</div>
        <hr></hr>
        <div id="teacher_results">
        </div>
        <!---------------- !-->
        <div class="results_header">Guardians (<span id="guardians_count"></span>)</div>
        <hr></hr>
        <div id="guardian_results">
        </div>
        <!---------------- !-->
      </div>
    </div>
    <%= yield %>

    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2015 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>

    </div> <!-- end footer -->

  </body>
</html>